<body>
  <!--=========================================== 
    =======  Dashboard Content Section Start ======
    =========================================== -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card p-xs-2 pl-md-4 pr-md-4 pl-sm-5 pr-sm-5 pl-sm-3 pr-sm-3 pb-4 border-radius-6 h-100vh"
          >
            <h5 class="dark-color-first font-weight-600 font-20 mt-4 pt-3 mb-2">
              Notification Settings
            </h5>
            <div class="row mt-4">
              <div class="col-md-12">
                <div class="row privacy-setting-card notification-card">
                  <div class="col-md-12 mt-3">
                    <div
                      class="border-0 card dashboard-border-radius primary-bg-color-third"
                    >
                      <div
                        class="align-items-center card-body d-flex justify-content-between p-4"
                      >
                        <div class="title-section">
                          <div class="media">
                            <img
                              class="mr-3"
                              src="assets/img/icons/push-notifications.png"
                            />
                            <div class="media-body">
                              <h5
                                class="dark-color-second font-15 font-weight-600 mt-0"
                              >
                                Push Notifications
                              </h5>
                            </div>
                          </div>
                        </div>
                        <div class="radio-btn">
                          <label class="switch mb-0">
                            <input type="checkbox" checked="" />
                            <span class="notification-slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <div
                      class="border-0 card dashboard-border-radius primary-bg-color-third"
                    >
                      <div
                        class="align-items-center card-body d-flex justify-content-between p-4"
                      >
                        <div class="title-section">
                          <div class="media">
                            <img
                              class="mr-3"
                              src="assets/img/icons/text-messages.png"
                            />
                            <div class="media-body">
                              <h5
                                class="dark-color-second font-15 font-weight-600 mt-0"
                              >
                                Text Messages
                              </h5>
                            </div>
                          </div>
                        </div>
                        <div class="radio-btn">
                          <label class="switch mb-0">
                            <input type="checkbox" />
                            <span class="notification-slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <div
                      class="border-0 card dashboard-border-radius primary-bg-color-third"
                    >
                      <div
                        class="align-items-center card-body d-flex justify-content-between p-4"
                      >
                        <div class="title-section">
                          <div class="media">
                            <img
                              class="mr-3"
                              src="assets/img/icons/sms-tracking.png"
                            />
                            <div class="media-body">
                              <h5
                                class="dark-color-second font-15 font-weight-600 mt-0"
                              >
                                Email
                              </h5>
                            </div>
                          </div>
                        </div>
                        <div class="radio-btn">
                          <label class="switch mb-0">
                            <input type="checkbox" />
                            <span class="notification-slider round"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=========================================== 
    =======  Dashboard Content Section End ========
    =========================================== -->
</body>
