<body>
  <!--============================================ 
    =======  Dashboard Content Section Start =======
    ============================================ -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card p-lg-4 p-md-2 p-sm-3 p-xl-5 p-xs-2 pb-4 h-100vh border-radius-6"
          >
            <h5 class="dark-color-first font-weight-600 font-20 mt-4 pt-3 mb-2">
              Add Payment Method
            </h5>
            <form action="#">
              <div class="row add-payment-method mt-4">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label>Card Holder Name </label>
                    <input
                      type="text"
                      class="form-control pl-4"
                      placeholder="Mike Tom"
                    />
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label>Card No </label>
                    <input
                      type="text"
                      class="form-control pl-4"
                      placeholder="25394716854736452189"
                    />
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label>Expiration Date </label>
                    <input
                      type="text"
                      class="form-control pl-4"
                      placeholder="25-12-2021"
                    />
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label>CVV </label>
                    <input
                      type="text"
                      class="form-control pl-4"
                      placeholder="Enter CVV"
                    />
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label>Zip Code </label>
                    <input
                      type="text"
                      class="form-control pl-4"
                      placeholder="3745"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 mr-auto">
                  <a
                    href="#"
                    class="border-primary-2 btn dashboard-border-radius-second font-13 font-weight-600 pb-2 pb-3 pl-5 pr-5 primary-bg-color-first pt-2 pt-3 text-white"
                  >
                    Add Card</a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--============================================ 
    =======  Dashboard Content Section End =========
    ===========================================  -->
</body>
