<body>
  <!-- Page Preloder -->
  <!-- <div id="preloder">
    <div class="loader">
      <app-loader></app-loader>
    </div>
  </div> -->

  <!-- Hero section -->
  <section class="hero-section">
    <div class="container">
      <div class="row search-input">
        <div class="col-md-12 col-lg-6 hero-text">
          <h2 class="font-40 font-menu font-weight-bold mb-2">
            Rent Safely,<br />
            Easily &amp; Securely
          </h2>
          <h4 class="font-weight-bold font-17">
            Select a city or area that you would like to call home.
          </h4>
          <form
            autocomplete="off"
            action="frontend/search-result-map"
            class="hero-subscribe-from mt-5"
          >
            <img
              class="home-page-location-icon"
              src="assets/img/icons/home-location.png"
            />
            <input
              class="box-shadow-one"
              type="text"
              placeholder="Select location"
            />
            <button type="submit" class="hero-serach-btn icon pl-4 pr-4">
              Search
            </button>
            <div class="autocom-box m-sm-auto m-xs-auto ml-md-0">
              <!-- here list are inserted from javascript -->
            </div>
          </form>
        </div>

        <div class="col-lg-6 col-md-12 text-center">
          <img class="img-fluid" src="assets/img/Home-page-banner-Human.png" />
        </div>
      </div>
    </div>
  </section>
  <!-- Hero section end -->

  <!-- Gallery Section Code Start -->
  <section class="gallery-section spad">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 m-auto">
          <header class="text-center mb-5">
            <h4 class="font-weight-bold font-17 mb-3">
              Explore homes and apartments for rent in Toronto.
            </h4>
            <h2 class="font-30 font-weight-bold mb-2">
              Explore homes and apartments for rent in Toronto
            </h2>
          </header>
        </div>
      </div>  
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div id="HomePageCarousel" class="owl-carousel">
              <app-bid-card></app-bid-card>
              <app-bid-card></app-bid-card>
              <app-bid-card></app-bid-card>
              <app-bid-card></app-bid-card>
              <app-bid-card></app-bid-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Gallery Section Code End -->

  <!-- We are Experienced Section Code Start -->
  <section class="we-are-experienced spad">
    <div class="container">
      <header class="text-center">
        <h2 class="font-30 font-weight-bold mb-0 text-white">
          We are Experienced
        </h2>
      </header>

      <div class="row mt-5">
        <div class="col-12 col-md-4 col-sm-4 mb-xs-5">
          <div
            class="d-sm-block d-md-flex align-items-center justify-content-center"
          >
            <div class="icon_box">
              <img src="assets/img/icons/contract-sign-icon.png" />
            </div>
            <div class="content-box ml-3">
              <span class="d-block font-25 font-weight-600 text-white"
                >1,560</span
              >
              <p class="mb-0 dark-color-five font-12">Leases we've Signed</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-sm-4 mb-xs-5">
          <div
            class="d-sm-block d-md-flex align-items-center justify-content-center"
          >
            <div class="icon_box">
              <img src="assets/img/icons/profile-user-icon.png" />
            </div>
            <div class="content-box ml-3">
              <span class="d-block font-25 font-weight-600 text-white"
                >3,900</span
              >
              <p class="mb-0 dark-color-five font-12">Tenants we've helped</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-sm-4 mb-xs-5">
          <div
            class="d-sm-block d-md-flex align-items-center justify-content-center"
          >
            <div class="icon_box">
              <img src="assets/img/icons/save-money-icon.png" />
            </div>
            <div class="content-box ml-3">
              <span class="d-block font-25 font-weight-600 text-white"
                >$2,808,000</span
              >
              <p class="mb-0 dark-color-five font-12">
                Money we've saved Landlords
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- We are Experienced Section Code End -->

  <!-- Liv Section Code Start -->
  <section class="liv-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="left-content">
            <img src="assets/img/image 7.png" />
          </div>
        </div>

        <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xl-6 ml-md-auto">
          <div class="mt-sm-5 mt-xs-5 right-content">
            <h2 class="font-30 font-weight-bold mb-2">
              Hauskarma makes <br />
              renting safe and easy!
            </h2>
            <div class="row">
              <div class="col-md-6">
                <ul class="liv-list mt-4">
                  <li class="clearfix">
                    <span class="icon-span"
                      ><i class="fa fa-check" aria-hidden="true"></i
                    ></span>
                    <span class="content-span font-18 dark-color-second"
                      >Know the rent prices within the city and pay fair
                      prices.</span
                    >
                  </li>
                  <li class="clearfix">
                    <span class="icon-span"
                      ><i class="fa fa-check" aria-hidden="true"></i
                    ></span>
                    <span class="content-span font-18 dark-color-second"
                      >Sign leases digital all online.</span
                    >
                  </li>
                  <li class="clearfix">
                    <span class="icon-span"
                      ><i class="fa fa-check" aria-hidden="true"></i
                    ></span>
                    <span class="content-span font-18 dark-color-second"
                      >More online payment options for your rent.</span
                    >
                  </li>
                </ul>
              </div>

              <div class="col-md-6">
                <ul class="liv-list mt-4">
                  <li class="clearfix">
                    <span class="icon-span"
                      ><i class="fa fa-check" aria-hidden="true"></i
                    ></span>
                    <span class="content-span font-18 dark-color-second"
                      >Rent from verified landlords & properties.</span
                    >
                  </li>
                  <li class="clearfix">
                    <span class="icon-span"
                      ><i class="fa fa-check" aria-hidden="true"></i
                    ></span>
                    <span class="content-span font-18 dark-color-second"
                      >Bid slightly over the market rental price to increase the
                      likelihood of getting that spot that you really
                      liked.</span
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mt-2">
                <a
                  [routerLink]="['/landlord/create-listing']"
                  class="btn font-16 font-weight-bold mt-4 primary-bg-color-first padding-14px pl-5 pr-5 site-btn"
                >
                  Create listing
                  <img
                    src="assets/img/icons/white-arrow.png"
                    class="d-inline ml-2"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Liv Section Code End -->

  <!-- Real stories section Code Start -->
  <section class="real-stories-section spad">
    <div class="container pb-5 pt-5">
      <div class="row">
        <div class="col-md-6 m-auto">
          <div class="d-flex">
            <img
              src="assets/img/icons/quote_mark_white.png"
              class="mr-3"
              height="45"
            />
            <h2
              class="d-inline-block font-30 font-menu font-weight-1000 line-height-1-4 text-white"
            >
              You Pay for Enough <br />
              Things, Stop
              <strong class="status-color-five">OVERPAYING</strong> <br />
              for Rent.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Real stories section Code End -->

  <!-- Key Features Section Code Start -->
  <section class="key-feature-section spad">
    <div class="container">
      <div
        class="align-items-center d-lg-flex d-md-none d-sm-none d-xs-none mb-5 row"
      >
        <div class="col-md-6">
          <h2 class="font-30 font-weight-bold mb-2">Landlord Benefits</h2>
        </div>
        <div class="col-md-6 text-right">
          <a
            href="auth/sign-up"
            class="font-weight-600 btn font-16 mb-2 padding-14px pl-5 pr-5 primary-bg-color-first site-btn"
          >
            Signup as a landlord
            <img src="assets/img/icons/white-arrow.png" class="ml-2" />
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row align-items-center">
            <div class="col-12 d-lg-none mb-md-5 mb-sm-5 mb-xs-5">
              <div class="row">
                <div class="col-md-6 col-sm-12 text-sm-center text-xs-center">
                  <h2 class="font-30 font-weight-bold mb-2">
                    Landlord Benefits
                  </h2>
                </div>
                <div class="col-md-6 col-sm-12 text-sm-center text-xs-center">
                  <a
                    href="auth/sign-up"
                    class="font-weight-600 btn font-16 mb-2 padding-14px pl-5 pr-5 primary-bg-color-first site-btn"
                  >
                    Signup as a landlord
                    <img src="assets/img/icons/white-arrow.png" class="ml-2" />
                  </a>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <div class="col-md-12 mb-5 p-0">
                <div class="card border-0">
                  <div class="align-items-center card-body d-flex">
                    <span class="img-span"
                      ><img src="assets/img/icons/key-features-1.png" alt=""
                    /></span>
                    <span class="content-span ml-3">
                      <h5 class="dark-color-second font-18">
                        Save on expensive realtor commisions
                      </h5>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mb-5 p-0">
                <div class="card border-0">
                  <div class="align-items-center card-body d-flex">
                    <span class="img-span"
                      ><img src="assets/img/icons/key-features-2.png" alt=""
                    /></span>
                    <span class="content-span ml-3">
                      <h5 class="dark-color-second font-18">
                        Lease Documents managed and signed in one place
                      </h5>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mb-5 p-0">
                <div class="card border-0">
                  <div class="align-items-center card-body d-flex">
                    <span class="img-span"
                      ><img src="assets/img/icons/key-features-3.png" alt=""
                    /></span>
                    <span class="content-span ml-3">
                      <h5 class="dark-color-second font-18">
                        Fewer missed or late rental payments.
                      </h5>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mb-5 p-0">
                <div class="card border-0">
                  <div class="align-items-center card-body d-flex">
                    <span class="img-span"
                      ><img src="assets/img/icons/key-features-4.png" alt="" />
                    </span>
                    <span class="content-span ml-3">
                      <h5 class="dark-color-second font-18">
                        Find trusted renters based on their good Hauskarma
                      </h5>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 col-md-12 col-sm-12 col-xl-6 mb-sm-5 mb-xs-5 order-lg-0 order-md-first order-sm-first order-xs-first text-center"
            >
              <img
                class="img-fluid"
                src="assets/img/Wavy_Bus-28_Single-10 1.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Key Features Section Code End -->

  <!-- Everything Section Code Start -->
  <section class="everything liv-section primary-bg-color-second">
    <div class="container">
      <div class="row align-items-center">
        <div
          class="col-12 col-lg-6 col-md-12 col-sm-12 col-xl-6 mt-md-5 mt-sm-5 mt-xs-5 order-sm-1 order-xs-1"
        >
          <h2 class="font-30 font-weight-bold mb-5">Everything in one place</h2>
          <div class="row">
            <div class="col-12">
              <ul class="liv-list">
                <li class="clearfix">
                  <span class="icon-span"
                    ><i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                  <span class="content-span dark-color-second font-18"
                    >No more combing through emails, texts & paperwork</span
                  >
                </li>
                <li class="clearfix">
                  <span class="icon-span"
                    ><i class="fa fa-check" aria-hidden="true"></i
                  ></span>
                  <span class="content-span dark-color-second font-18">
                    Complete record of rental, tenant information, lease, and
                    payments.</span
                  >
                </li>
                <li class="clearfix">
                  <span class="icon-span"
                    ><i class="fa fa-check" aria-hidden="true"></i
                  ></span>
                  <span class="content-span dark-color-second font-18">
                    View honest reviews and recent history on properties,
                    tenants and landlords.</span
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="mb-sm-5 mb-xs-5 row">
            <div
              class="col-12 col-lg-12 col-md-12 col-xl-12 m-auto mt-2 text-xs-center"
            >
              <a
                href="auth/sign-up"
                class="font-weight-600 btn font-16 mb-2 padding-14px pl-5 pr-5 primary-bg-color-first site-btn"
                >Signup Now
                <img class="ml-2" src="assets/img/icons/white-arrow.png" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xl-6 text-center">
          <img src="assets/img/Frame2.png" />
        </div>
      </div>
    </div>
  </section>
  <!-- Everything Section Code End -->

  <!-- Renting Section Code Start -->
  <section class="renting-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h2 class="font-30 font-weight-bold mb-4">Renting Made Easy</h2>
          <p class="mb-4 pr-4">
            Find rentals at fair prices, apply, sign leases and pay for your
            rent all with Hauskarma.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="renting-easy-video">
            <img
              class="video-corner-design-t"
              src="assets/img/video-corner-design.png"
            />
            <video id="video" preload="metadata" poster="assets/img/Frame3.png">
              <source src="assets/img/3mb.mp4" type="video/mp4" />
            </video>
            <img
              class="video-corner-design-b"
              src="assets/img/video-corner-design.png"
            />
            <div class="play-button-wrapper" id="name">
              <div id="circle-play-b">
                <img src="assets/img/video-play-button.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Renting Section Code End -->
</body>
