<body>
  <section class="contact-us-banner position-relative">
    <div class="border-0 card rounded-0">
      <img class="card-img" src="assets/img/about-us-banner.png" />
      <div class="align-items-center card-img-overlay d-flex">
        <div class="container">
          <div class="align-items-center row position-relative z-homepage-2">
            <div
              class="col-md-6 mt-md-0 mt-sm-5 mt-xs-5 order-md-0 order-sm-1 order-xs-1 text-md-left text-sm-center text-xs-center"
            >
              <h5 class="card-title font-35 font-weight-600">About Us</h5>
              <p class="card-text dark-color-second mt-3 pr-lg-5">
                Created with renters in mind, we're here to help relieve the
                stress from renting. As a renter, you'll always enjoy these
                features for free.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="search-results-listing-show">
    <div class="container mt-5 pt-5">
      <div class="row mb-5 mt-3">
        <div class="col-md-6 order-md-0 order-sm-1 order-xs-1 pr-lg-5 pr-md-5">
          <h5 class="font-22 font-menu font-weight-bold mb-4">Our Story</h5>
          <p class="dark-color-second font-16 line-height-2 pr-md-2">
            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip.
          </p>
          <p class="dark-color-second font-16 line-height-2 pr-md-2">
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
          <a
            routerLink=""
            class="mt-4 btn dashboard-border-radius-second font-14 pl-4 pr-4 primary-bg-color-first text-white"
          >
            Read More <img src="assets/img/icons/white-arrow.png" class="ml2"
          /></a>
        </div>
        <div class="col-md-6">
          <div class="about-us-img-box">
            <div class="card">
              <div class="card-body">
                <div class="align-items-center d-flex justify-content-between">
                  <span class="dark-color-second font-13">Client</span>
                  <img src="assets/img/icons/happy-emoji.png" />
                </div>
                <span
                  class="d-block font-22 font-weight-600 primary-color-first"
                  >1500+</span
                >
                <span class="d-block dark-color-second font-14"
                  >Happy Client</span
                >
              </div>
            </div>
            <img src="assets/img/about-box-1.png" width="100%" height="100%" />
          </div>
        </div>
      </div>

      <div class="row mb-5 mt-3">
        <div class="col-md-6">
          <img src="assets/img/about-box-2.png" width="100%" height="100%" />
        </div>

        <div class="col-md-6 order-md-0 order-sm-1 order-xs-1 pr-lg-5 pr-md-5">
          <h5 class="font-22 font-menu font-weight-bold mb-4">Our Mission</h5>
          <p class="dark-color-second font-16 line-height-2">
            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut et
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis do
            nostrud exercitation ullamco laboris nisi ut aliquip.
          </p>
          <p class="dark-color-second font-16 line-height-2">
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident.
          </p>
          <a
            routerLink="#"
            class="mt-4 btn dashboard-border-radius-second font-14 pl-4 pr-4 primary-bg-color-first text-white"
          >
            Read More <img src="assets/img/icons/white-arrow.png" class="ml2"
          /></a>
        </div>
      </div>
    </div>
  </section>

  <section class="about-us-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h5 class="font-25 font-weight-1000 mb-4 text-center">
            Our Testimonials
          </h5>
          <div
            id="about-us-testimonial-carousel"
            class="carousel slide mt-5"
            data-ride="carousel"
          >
            <div
              class="carousel-inner pb-5 text-md-left text-sm-center text-xs-center"
              role="listbox"
            >
              <div class="carousel-item active text-center">
                <img src="assets/img/user-profile.png" class="rounded-circle" />
                <p class="dark-color-second font-17 line-height-2 mt-4">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here'.
                </p>
                <h5 class="dark-color-second font-21 font-weight-600 mb-2">
                  Michael Mack
                </h5>
                <h6 class="mt-1 dark-color-three">Landlord</h6>
              </div>

              <div class="carousel-item text-center">
                <img src="assets/img/user-profile.png" class="rounded-circle" />
                <p class="dark-color-second font-17 line-height-2 mt-4">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here'.
                </p>
                <h5 class="dark-color-second font-21 font-weight-600 mb-2">
                  Michael Mack
                </h5>
                <h6 class="mt-1 dark-color-three">Landlord</h6>
              </div>
              <div class="carousel-item text-center">
                <img src="assets/img/user-profile.png" class="rounded-circle" />
                <p class="dark-color-second font-17 line-height-2 mt-4">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here'.
                </p>
                <h5 class="dark-color-second font-21 font-weight-600 mb-2">
                  Michael Mack
                </h5>
                <h6 class="mt-1 dark-color-three">Landlord</h6>
              </div>
            </div>

            <ol class="carousel-indicators">
              <li
                data-target="#about-us-testimonial-carousel"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#about-us-testimonial-carousel"
                data-slide-to="1"
              ></li>
              <li
                data-target="#about-us-testimonial-carousel"
                data-slide-to="2"
              ></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
