<!-- =================================================
    ========= Top NavBar And SideBar Code Start ==========
    ===================================================-->
<nav
  class="top-bar navbar navbar-expand-lg navbar-dark bg-white border-bottom"
  id="mainNav"
>
  <!--==========================================
          ============== Logo Section Start =========-->
  <a
    class="dashboard-brand font-22 font-menu font-weight-1000 ml-lg-4 ml-md-4 ml-xl-4 navbar-brand"
    href="#"
  >
    <img src="assets/img/logos/Hauskarma-header-logo.png" height="38" alt="" />
  </a>
  <img
    src="assets/img/icons/navbar-toggler.png"
    alt=""
    class="CustomToogle head-toggle d-lg-block d-md-none d-sm-none d-xs-none"
  />
  <!--==========================================
          ============== Logo Section End =========-->

  <!-- ============================================
          ========== Mobile Bubble And User Thumb Start -->
  <ul
    class="d-flex d-lg-none d-xl-none flex-row ml-auto navbar-nav pr-lg-0 pr-xl-5"
  >
    <li class="nav-item dropdown top-notification-bell">
      <a
        class="dropdown-toggle nav-link p-0"
        id="BellDropdown"
        href="#"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img src="assets/img/icons/dashboard-bell-icon.png" alt="" />
        <span class="indicator text-warning"></span>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="BellDropdown">
        <a
          class="align-items-center clearfix d-flex dropdown-item p-3"
          href="#"
        >
          <span class="img-span">
            <img src="assets/img/notification-img.png" alt="" />
          </span>

          <span class="content-span">
            <span class="font-13">
              <strong>Bid accepted</strong>
            </span>
            <p class="dropdown-message mb-0 font-11">
              David has accepted your bid of $2000
            </p>
          </span>
        </a>

        <a
          class="align-items-center clearfix d-flex dropdown-item p-3"
          href="#"
        >
          <span class="img-span">
            <img src="assets/img/notification-img.png" alt="" />
          </span>

          <span class="content-span">
            <span class="font-13">
              <strong>Bid accepted</strong>
            </span>
            <p class="dropdown-message mb-0 font-11">
              David has accepted your bid of $2000
            </p>
          </span>
        </a>

        <a
          class="align-items-center clearfix d-flex dropdown-item p-3"
          href="#"
        >
          <span class="img-span">
            <img src="assets/img/notification-img.png" alt="" />
          </span>

          <span class="content-span">
            <span class="font-13">
              <strong>Bid accepted</strong>
            </span>
            <p class="dropdown-message mb-0 font-11">
              David has accepted your bid of $2000
            </p>
          </span>
        </a>

        <a
          class="align-items-center clearfix d-flex dropdown-item p-3"
          href="#"
        >
          <span class="img-span">
            <img src="assets/img/notification-img.png" alt="" />
          </span>

          <span class="content-span">
            <span class="font-13">
              <strong>Bid accepted</strong>
            </span>
            <p class="dropdown-message mb-0 font-11">
              David has accepted your bid of $2000
            </p>
          </span>
        </a>

        <a
          class="align-items-center clearfix d-flex dropdown-item p-3"
          href="#"
        >
          <span class="img-span">
            <img src="assets/img/notification-img.png" alt="" />
          </span>

          <span class="content-span">
            <span class="font-13">
              <strong>Bid accepted</strong>
            </span>
            <p class="dropdown-message mb-0 font-11">
              David has accepted your bid of $2000
            </p>
          </span>
        </a>

        <a
          class="align-items-center clearfix d-flex dropdown-item p-3"
          href="#"
        >
          <span class="img-span">
            <img src="assets/img/notification-img.png" alt="" />
          </span>

          <span class="content-span">
            <span class="font-13">
              <strong>Bid accepted</strong>
            </span>
            <p class="dropdown-message mb-0 font-11">
              David has accepted your bid of $2000
            </p>
          </span>
        </a>

        <a
          class="align-items-center clearfix d-flex dropdown-item p-3"
          href="#"
        >
          <span class="img-span">
            <img src="assets/img/notification-img.png" alt="" />
          </span>

          <span class="content-span">
            <span class="font-13">
              <strong>Bid accepted</strong>
            </span>
            <p class="dropdown-message mb-0 font-11">
              David has accepted your bid of $2000
            </p>
          </span>
        </a>

        <a
          class="align-items-center clearfix d-flex dropdown-item p-3"
          href="#"
        >
          <span class="img-span">
            <img src="assets/img/notification-img.png" alt="" />
          </span>

          <span class="content-span">
            <span class="font-13">
              <strong>Bid accepted</strong>
            </span>
            <p class="dropdown-message mb-0 font-11">
              David has accepted your bid of $2000
            </p>
          </span>
        </a>

        <a
          class="align-items-center clearfix d-flex dropdown-item p-3"
          href="#"
        >
          <span class="img-span">
            <img src="assets/img/notification-img.png" alt="" />
          </span>

          <span class="content-span">
            <span class="font-13">
              <strong>Bid accepted</strong>
            </span>
            <p class="dropdown-message mb-0 font-11">
              David has accepted your bid of $2000
            </p>
          </span>
        </a>
      </div>
    </li>

    <li
      class="align-self-center nav-item user-thumb top-notification-bell ml-2"
    >
      <a
        href="profile"
        id="ProfileMenu"
        href="#"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="d-xs-none dark-color-second font-weight-600"
          >Amit kumar</span
        >
        <img
          class="ml-3 mr-2 user_img"
          src="assets/img/notification-img.png"
          alt=""
        />
        <img src="assets/img/icons/bell-arrow.png" alt="" />
      </a>

      <!-- <div class="dropdown-menu border-0" aria-labelledby="ProfileMenu">
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>
  
            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
  
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>
  
            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
  
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>
  
            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
  
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>
  
            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
  
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>
  
            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
  
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>
  
            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
  
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>
  
            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
  
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>
  
            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
  
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>
  
            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
        </div> -->
    </li>
  </ul>
  <!-- ============================================
          ========== Mobile Bubble And User Thumb End -->

  <img
    src="assets/img/icons/navbar-toggler.png"
    alt=""
    class="CustomToogle head-toggle ml-3 d-lg-none d-md-block"
  />

  <!-- ============================================
          ================ Side Bar Start ==============-->
  <div class="navbar-collapse">
    <ul class="navbar-nav navbar-sidenav dashboard-sidebar CustomShowHide">
      <li class="nav-item pl-3 pr-2 mt-3 active">
        <a class="nav-link pb-3 pl-3 pt-3 text-dark" href="properties">
          <img
            class="active mr-4"
            src="assets/img/icons/sidebar-icon/explore-active.png"
          />
          <img
            class="inactive mr-4"
            src="assets/img/icons/sidebar-icon/explore-inactive.png"
          />
          <span class="font-15 font-weight-500">Explore</span>
        </a>
      </li>

      <li class="nav-item pl-3 pr-2 dropdown">
        <a
          href="#"
          class="nav-link pb-3 pl-3 pt-3 text-dark dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            class="active mr-4"
            src="assets/img/icons/sidebar-icon/renter-profile-active.png"
            alt=""
          />
          <img
            class="inactive mr-4"
            src="assets/img/icons/sidebar-icon/renter-profile-inactive.png"
            alt=""
          />
          <span class="font-15 font-weight-500"> Renter Profile </span>
          <span class="caret"></span>
        </a>
        <div class="dashboard-custom-dropdown">
          <ul class="dropdown-menu">
            <li class="mb-3">
              <a href="renter/update-profile" class="font-13 font-weight-500"
                >Update Profile</a
              >
            </li>
            <li class="mb-3">
              <a href="common/change-password" class="font-13 font-weight-500"
                >Change Password</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item pl-3 pr-2">
        <a class="nav-link pb-3 pl-3 pt-3 text-dark" href="renter/bid-offers">
          <img
            class="active mr-4"
            src="assets/img/icons/sidebar-icon/bid-offers-active.png"
            alt=""
          />
          <img
            class="inactive mr-4"
            src="assets/img/icons/sidebar-icon/bid-offers-inactive.png"
            alt=""
          />
          <span class="font-15 font-weight-500">Bid Offers</span>
        </a>
      </li>

      <li class="nav-item pl-3 pr-2">
        <a class="nav-link pb-3 pl-3 pt-3 text-dark" href="renter/wishlist">
          <img
            class="active mr-4"
            src="assets/img/icons/sidebar-icon/my-wishlists-active.png"
            alt=""
          />
          <img
            class="inactive mr-4"
            src="assets/img/icons/sidebar-icon/my-wishlists-inactive.png"
            alt=""
          />
          <span class="font-15 font-weight-500">My Wishlists</span>
        </a>
      </li>

      <li class="nav-item pl-3 pr-2 dropdown">
        <a
          href="#"
          class="nav-link pb-3 pl-3 pt-3 text-dark dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            class="active mr-4"
            src="./img/icons/sidebar-icon/payment-active.png"
            alt=""
          />
          <img
            class="inactive mr-4"
            src="assets/img/icons/sidebar-icon/payment-inactive.png"
            alt=""
          />
          <span class="font-15 font-weight-500">Payment</span>
          <span class="caret"></span>
        </a>
        <div class="dashboard-custom-dropdown">
          <ul class="dropdown-menu">
            <li class="mb-3">
              <a href="renter/invoice" class="font-13 font-weight-500">
                Invoice</a
              >
            </li>
            <li class="mb-3">
              <a href="renter/payment-method" class="font-13 font-weight-500">
                Payment Methods</a
              >
            </li>
            <li class="mb-3">
              <a href="renter/add-payment" class="font-13 font-weight-500">
                Add Payments Method</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item pl-3 pr-2">
        <a class="nav-link pb-3 pl-3 pt-3 text-dark" href="renter/setting">
          <img
            class="active mr-4"
            src="assets/img/icons/sidebar-icon/settings-active.png"
            alt=""
          />
          <img
            class="inactive mr-4"
            src="assets/img/icons/sidebar-icon/settings-inactive.png"
            alt=""
          />
          <span class="font-15 font-weight-500">Settings</span>
        </a>
      </li>

      <li class="nav-item pl-3 pr-2">
        <a class="nav-link pb-3 pl-3 pt-3 text-dark" href="common/support">
          <img
            class="active mr-4"
            src="assets/img/icons/sidebar-icon/support-active.png"
            alt=""
          />
          <img
            class="inactive mr-4"
            src="assets/img/icons/sidebar-icon/support-inactive.png"
            alt=""
          />
          <span class="font-15 font-weight-500">Support</span>
        </a>
      </li>

      <li class="nav-item pl-3 pr-2">
        <a class="nav-link pb-3 pl-3 pt-3 text-dark" href="#">
          <img
            class="active mr-4"
            src="assets/img/icons/sidebar-icon/how-it-works-inactive.png"
            alt=""
          />
          <img
            class="inactive mr-4"
            src="assets/img/icons/sidebar-icon/how-it-works-inactive.png"
            alt=""
          />
          <span class="font-15 font-weight-500">How it Works</span>
        </a>
      </li>

      <li class="nav-item pl-3 pr-2 dashboard-sidebar-logut-btn">
        <a class="nav-link pb-3 pl-3 pt-3 text-dark" href="frontend/homepage">
          <img
            class="active mr-4"
            src="assets/img/icons/sidebar-icon/logout-inactive.png"
            alt=""
          />
          <img
            class="inactive mr-4"
            src="assets/img/icons/sidebar-icon/logout-inactive.png"
            alt=""
          />
          <span class="font-15 font-weight-500">Logout</span>
        </a>
      </li>
    </ul>
    <ul class="d-lg-block d-md-none d-sm-none d-xs-none top-search-bar">
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0 mr-lg-2">
          <div class="form-group has-search">
            <span class="form-control-feedback">
              <img src="assets/img/icons/primary-search.png" alt="" />
            </span>
            <input
              type="text"
              class="form-control pr-5 font-13 border-0"
              placeholder="Search anything..."
            />
          </div>
        </form>
      </li>
    </ul>

    <!-- ============================================
              ========== Desktop Bubble And User Thumb Start -->
    <ul class="d-lg-flex d-md-none d-sm-none d-xs-none ml-auto navbar-nav">
      <li class="nav-item dropdown top-notification-bell mr-lg-4">
        <a
          class="dropdown-toggle nav-link p-0"
          id="BellDropdown"
          href="#"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img src="assets/img/icons/dashboard-bell-icon.png" alt="" />
          <span class="indicator text-warning"></span>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="BellDropdown">
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
        </div>
      </li>

      <li class="align-self-center nav-item user-thumb top-notification-bell">
        <a
          href="profile"
          id="ProfileMenu"
          href="#"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="dark-color-second font-weight-600">Amit kumar</span>
          <img
            class="ml-3 mr-2 user_img"
            src="assets/img/notification-img.png"
            alt=""
          />
          <img src="assets/img/icons/bell-arrow.png" alt="" />
        </a>

        <div class="dropdown-menu border-0" aria-labelledby="ProfileMenu">
          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>

          <a
            class="align-items-center clearfix d-flex dropdown-item p-3"
            href="#"
          >
            <span class="img-span">
              <img src="assets/img/notification-img.png" alt="" />
            </span>

            <span class="content-span">
              <span class="font-13">
                <strong>Bid accepted</strong>
              </span>
              <p class="dropdown-message mb-0 font-11">
                David has accepted your bid of $2000
              </p>
            </span>
          </a>
        </div>
      </li>
    </ul>
    <!-- ============================================
              ========== Desktop Bubble And User Thumb End -->
  </div>
  <!-- ============================================
          ================ Side Bar End ==============-->
</nav>
<!-- =================================================
      =========  Top NavBar And SideBar Code End ===========
      ===================================================-->
