<div class="col-12 col-lg-12 col-md-6 col-sm-12 col-xl-12 pl-4 pr-4">
  <div class="card box p-2 mb-3">
    <div class="row">
      <div
        class="col-12 col-md-5 col-sm-5 left-content pr-lg-0 pr-md-0 pr-sm-0 pr-xl-0"
      >
        <img
          class="img-fluid img-fluid rounded"
          src="assets/img/listing.png"
          width="100%"
          style="height: 100%"
        />
      </div>
      <div class="col-12 col-sm-7 col-md-7 mt-xs-3 right-content">
        <div class="row bid-status-button">
          <div class="col-6 col-md-6 pr-0">
            <div
              class="bid-status-button-left status-bg-color-four pb-2 pt-2 text-center"
            >
              <span class="mb-1 d-block font-10 dark-color-second"
                >Highest bid</span
              >
              <span class="d-block font-weight-600 font-15 theme-color-one"
                >$1,130</span
              >
            </div>
          </div>
          <div class="col-6 col-md-6 pl-0">
            <div
              class="bid-status-button-right status-bg-color-six pb-2 pt-2 text-center"
            >
              <span class="mb-1 d-block font-10 dark-color-second"
                >Asking price</span
              >
              <span class="d-block font-weight-600 font-15 status-color-five"
                >$5,110</span
              >
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-9 col-md-9 pr-0">
            <p class="font-11">
              <span class="icon-span"
                ><img
                  class="d-inline"
                  src="assets/img/icons/location-vector.png"
                />
              </span>
              <span class="font-9 font-weight-600 ml-1 text-span"
                >4140 Parker Rd. Allentown, New Mexico 31134</span
              >
            </p>
          </div>
          <div class="col-3 col-md-3 text-right pl-0">
            <img src="assets/img/icons/wishlist-yellow-icon.png" />
          </div>
        </div>

        <div class="d-flex justify-content-between mb-2 mt-3">
          <div class="">
            <p class="font-9 text-dark mb-0">
              <img width="15" class="mr-1" src="assets/img/icons/f1.png" />
              2 Bed
            </p>
          </div>
          <div class="">
            <p class="font-9 text-dark mb-0">
              <img width="15" class="mr-1" src="assets/img/icons/f2.png" />
              2 Bathroom
            </p>
          </div>

          <div class="">
            <p class="font-9 text-dark mb-0">
              <img
                width="15"
                class="mr-1"
                src="assets/img/icons/car-parking-icon.png"
              />
              2 Parking
            </p>
          </div>
        </div>

        <div class="row mt-3 align-items-center">
          <div class="col-4 col-sm-4 col-md-4 pr-0">
            <a
              href="frontend/search-results-listing-details"
              class="border-radius-6 btn btn-block font-9 font-weight-600 pb-1 pl-0 pr-0 primary-bg-color-first pt-1 text-white"
            >
              Bid Now
              <img src="assets/img/icons/white-arrow.png" width="6" />
            </a>
          </div>
          <div class="col-6 col-sm-6 col-md-6 pl-2 pr-0">
            <p class="font-9 text-dark mb-0">
              <img
                width="15"
                class="mr-1"
                src="assets/img/icons/calendar-tick.png"
              />
              <strong>Move-in:</strong> July 1 2023
            </p>
          </div>
          <div class="col-2 col-sm-2 col-md-2 pl-0 text-right">
            <img src="assets/img/icons/touch.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
