<div
  class="w-100 border-0 card float-lg-left float-md-none float-sm-none float-xl-left profile-left-sidebar rounded-0"
>
  <ul
    class="border-top-0 navbar-nav navbar-sidenav profile-sidebar pb-5"
    id="exampleAccordion"
  >
    <li class="nav-item pr-2 mb-3">
      <a class="nav-link pl-3" href="renter/update-profile">
        <img
          class="mr-2"
          src="assets/img/icons/profile-sidebar-icons/basic-details-inactive.png"
          alt=""
        />
        <span class="nav-link-text">Basic Details</span>
      </a>
    </li>

    <li class="nav-item pr-2 mb-3">
      <a class="nav-link pl-3 active" href="renter/residence-info">
        <img
          class="mr-2"
          src="assets/img/icons/profile-sidebar-icons/residence-info-active.png"
          alt=""
        />
        <span class="nav-link-text">Residence Info</span>
      </a>
    </li>

    <li class="nav-item pr-2 mb-3">
      <a class="nav-link pl-3" href="renter/occupation">
        <img
          class="mr-2"
          src="assets/img/icons/profile-sidebar-icons/occupation-inactive.png"
          alt=""
        />
        <span class="nav-link-text">Occupation</span>
      </a>
    </li>

    <li class="nav-item pr-2 mb-3 dropdown">
      <a
        href="#"
        class="dropdown-toggle nav-link pl-3"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img
          class="mr-2"
          src="assets/img/icons/profile-sidebar-icons/miscellaneous-inactive.png"
          alt=""
        />
        <span class="nav-link-text">Miscellaneous</span>
        <span class="caret"></span>
      </a>
      <div class="dashboard-custom-dropdown">
        <ul class="dropdown-menu">
          <li class="mb-3">
            <a href="renter/misc-roommates" class="font-13 font-weight-500"
              >Roommates</a
            >
          </li>
          <li class="mb-3">
            <a href="renter/misc-pets" class="font-13 font-weight-500">Pets</a>
          </li>
          <li class="mb-3">
            <a href="renter/home-insurance" class="font-13 font-weight-500"
              >Home Insurance</a
            >
          </li>
          <li class="mb-3">
            <a href="renter/vehicle-details" class="font-13 font-weight-500"
              >Vehicle Details</a
            >
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
