<body>
  <!-- ==============================================================
    =================Doucuments Upload successfully Modal Start ======-->
  <div
    class="modal fade"
    id="createprofileModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createprofileModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="border-0 modal-header">
          <button
            type="button"
            class="close mr-2 opacity-1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <img
              src="assets/img/icons/modal-close-icon.png"
              width="20"
              alt=""
            />
          </button>
        </div>

        <div class="modal-body text-center">
          <img src="assets/img/icons/success-modal-icon.png" alt="" />
          <h5 class="font-28 font-weight-600 mt-3 primary-color-first">
            Doucuments Upload
          </h5>
          <h5 class="dark-color-three font-16 mt-3">
            Your Doucuments Upload successfully.
          </h5>
          <!-- <a
            href="dashboard.html"
            class="btn dashboard-border-radius-second font-weight-600 mt-4 pb-2 pl-4 pr-4 primary-bg-color-first pt-2 text-white"
          >
            Your Password change successfully.
            <img src="assets/img/icons/white-arrow.png" class="ml-2" alt="" />
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <!-- ==============================================================
  ================= Doucuments Upload successfully Modal End ========-->

  <!--=========================================== 
    =======  Dashboard Content Section Start ======
    =========================================== -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card p-xs-2 pl-md-4 pr-md-4 pl-sm-5 pr-sm-5 pl-sm-3 pr-sm-3 pb-4 h-100vh border-radius-6"
          >
            <h5 class="dark-color-first font-weight-600 font-20 mt-4 pt-3 mb-2">
              Verify Account
            </h5>
            <div class="row">
              <div class="col-md-12">
                <h6
                  class="dark-color-second font-weight-600 font-16 mt-4 pt-2 mb-2"
                >
                  Verify Your Account
                </h6>
                <p class="dark-color-three mt-3 mb-0">
                  Be Verified, a verified account is 5x more likely to be chosen
                  by a landlord
                </p>
              </div>
            </div>
            <form action="#">
              <div class="row add-payment-method mt-4">
                <div class="col-md-12 col-lg-6 mb-3">
                  <div class="form-group">
                    <label>Id Proof</label>
                    <div class="border-radius-6 verification-doc-upload-input">
                      <span
                        class="border-0 dark-color-four font-13 form-control pb-3 pl-4 pt-3"
                        ><small>Upload a scanned copy of your Id</small></span
                      >
                      <input type="file" />
                      <div class="use-profile-id-input-icon">
                        <img
                          src="assets/img/icons/profile-id-attch.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6 mb-3">
                  <div class="form-group">
                    <label>Vehicle Document</label>
                    <div class="border-radius-6 verification-doc-upload-input">
                      <span
                        class="border-0 dark-color-four font-13 form-control pb-3 pl-4 pt-3"
                        ><small
                          >Upload a scanned copy of your vechile document</small
                        ></span
                      >
                      <input type="file" />
                      <div class="use-profile-id-input-icon">
                        <img
                          src="assets/img/icons/profile-id-attch.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6 mb-3">
                  <div class="form-group">
                    <label>Home Insurance</label>
                    <div class="border-radius-6 verification-doc-upload-input">
                      <span
                        class="border-0 dark-color-four font-13 form-control pb-3 pl-4 pt-3"
                        ><small
                          >Upload a scanned copy of your home insurance</small
                        ></span
                      >
                      <input type="file" />
                      <div class="use-profile-id-input-icon">
                        <img
                          src="assets/img/icons/profile-id-attch.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-6 mb-3">
                  <div class="form-group">
                    <label>Employment Proof</label>
                    <div class="border-radius-6 verification-doc-upload-input">
                      <span
                        class="border-0 dark-color-four font-13 form-control pb-3 pl-4 pt-3"
                        ><small
                          >Upload a scanned copy of your employment</small
                        ></span
                      >
                      <input type="file" />
                      <div class="use-profile-id-input-icon">
                        <img
                          src="assets/img/icons/profile-id-attch.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <label>Salary Proof</label>
                    <div class="border-radius-6 verification-doc-upload-input">
                      <span
                        class="border-0 dark-color-four font-13 form-control pb-3 pl-4 pt-3"
                        ><small
                          >Upload a scanned copy of your salary proof</small
                        ></span
                      >
                      <input type="file" />
                      <div class="use-profile-id-input-icon">
                        <img
                          src="assets/img/icons/profile-id-attch.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 col-sm-2">
                  <a
                    href=" renter/setting"
                    class="border-primary-2 mb-xs-3 btn d-xs-block dashboard-border-radius-second font-13 font-weight-600 pb-2 pb-3 pl-5 pr-5 primary-color-first pt-2 pt-3"
                  >
                    Back</a
                  >
                </div>

                <div class="col-sm-10 col-md-9 text-right">
                  <a
                    href="#"
                    class="mb-xs-3 btn d-xs-block btn dashboard-border-radius-second font-13 font-weight-600 pb-2 pb-3 pl-5 pr-5 primary-bg-color-second primary-color-first pt-2 pt-3"
                    >Cancel</a
                  >

                  <a
                    href="#"
                    data-toggle="modal"
                    data-target="#createprofileModalCenter"
                    class="mb-xs-3 btn d-xs-block ml-3 border-primary-2 btn dashboard-border-radius-second font-13 font-weight-600 pb-2 pb-3 pl-5 pr-5 primary-bg-color-first pt-2 pt-3 text-white"
                  >
                    Upload</a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--============================================ 
    =======  Dashboard Content Section End =========
    ===========================================  -->
</body>
