<div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">
  <div class="card box p-2 mb-3">
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-6 mt-xs-3 right-content pl-4 pr-4"
      >
        <div class="row bid-status-button">
          <div class="col-12 col-md-4">
            <div class="row mt-3">
              <div class="col-md-12">
                <div
                  class="bid-status-button-left pb-3 pt-3 status-bg-color-four text-center"
                >
                  <span class="mb-1 d-block font-12 dark-color-second"
                    >Highest bid</span
                  >
                  <span class="d-block font-weight-600 font-22 theme-color-one"
                    >$1,130</span
                  >
                </div>
                <div
                  class="bid-status-button-right status-bg-color-six pb-3 pt-3 text-center"
                >
                  <span class="mb-1 d-block font-12 dark-color-second"
                    >Asking price</span
                  >
                  <span
                    class="d-block font-weight-600 font-22 status-color-five"
                    >$5,110</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="row mt-3">
              <div class="col-9 col-md-9">
                <p class="font-11 mb-0">
                  <span class="icon-span"
                    ><img
                      class="d-inline"
                      src="assets/img/icons/listing-clock.png"
                    />
                  </span>
                  <span class="font-12 ml-1 text-span"
                    ><strong>DOM:</strong> 2 Days 5 Hours</span
                  >
                </p>
              </div>
              <div class="col-3 col-md-3 text-right">
                <img src="assets/img/icons/wishlist-yellow-icon.png" />
              </div>
            </div>

            <div class="row mt-3 mb-3">
              <div class="col-md-12">
                <h5 class="card-title font-14 mb-0">
                  <a href="#" class="dark-color-second font-weight-600"
                    >Private, emotional lodging cabin in Yeongwol</a
                  >
                </h5>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-12">
                <p class="font-11 mb-0">
                  <span class="icon-span"
                    ><img
                      class="d-inline"
                      src="assets/img/icons/location-vector.png"
                    />
                  </span>
                  <span class="font-12 font-weight-600 ml-1 text-span"
                    >4140 Parker Rd. Allentown, New Mexico 31134</span
                  >
                </p>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6 col-md-4">
                <p class="font-9 text-dark mb-0">
                  <img width="15" class="mr-1" src="assets/img/icons/f1.png" />
                  2 Bed
                </p>
              </div>
              <div class="col-6 col-md-4">
                <p class="font-9 text-dark mb-0">
                  <img width="15" class="mr-1" src="assets/img/icons/f2.png" />
                  2 Bathroom
                </p>
              </div>
            </div>

            <div class="row mt-3 align-items-center">
              <div class="col-4 col-md-4 col-sm-4">
                <a
                  href="frontend/search-results-listing-details"
                  class="border-radius-6 btn btn-block font-9 font-weight-600 pb-1 pl-0 pr-0 primary-bg-color-second primary-color-first pt-1"
                >
                  Bid Now
                  <img
                    src="assets/img/icons/primary-arrow.png"
                    width="6"
                    class="ml-1"
                  />
                </a>
              </div>
              <div class="col-6 col-md-6 col-sm-6">
                <p class="font-9 text-dark mb-0">
                  <img
                    width="15"
                    class="mr-1"
                    src="assets/img/icons/car-parking-icon.png"
                  />
                  2 Parking
                </p>
              </div>
              <div class="col-2 col-md-2 col-sm-2 text-right">
                <img src="assets/img/icons/touch.png" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-lg-6 col-md-12 col-sm-12 left-content order-md-first order-sm-first order-xs-first order-lg-0"
      >
        <img
          class="img-fluid img-fluid rounded"
          src="assets/img/listing.png"
          width="100%"
          style="height: 100%"
        />
      </div>
    </div>
  </div>
</div>
