<body>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card p-lg-3 p-md-3 p-sm-2 p-xl-4 p-xs-2 pb-4 border-radius-6 h-100vh"
          >
            <h5 class="dark-color-first font-weight-600 font-20 mt-4 pt-3 mb-2">
              Tenants
            </h5>
            <div class="row mt-4 payment-invoice-table">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th
                          scope="col"
                          class="vertical-align-middle border-0 dark-color-second font-12 font-weight-600 pb-3 pt-3"
                        >
                          Tenants Name
                        </th>
                        <th
                          scope="col"
                          class="vertical-align-middle border-0 dark-color-second font-12 font-weight-600 pb-3 pt-3"
                        >
                          Unit
                        </th>
                        <th
                          scope="col"
                          class="vertical-align-middle border-0 dark-color-second font-12 font-weight-600 pb-3 pt-3 text-center"
                        >
                          Huskarma Score
                        </th>
                        <th
                          scope="col"
                          class="vertical-align-middle border-0 dark-color-second font-12 font-weight-600 pb-3 pt-3 text-right"
                        >
                          Amount
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Amit P
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          542 Main St, Toranto
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-center"
                        >
                          5 Stars
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-right"
                        >
                          <a
                            href="landlord/tenant-edit"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >View</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Amit P
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          542 Main St, Toranto
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-center"
                        >
                          5 Stars
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-right"
                        >
                          <a
                            href="landlord/tenant-edit"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >View</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Amit P
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          542 Main St, Toranto
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-center"
                        >
                          5 Stars
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-right"
                        >
                          <a
                            href="landlord/tenant-edit"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >View</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Amit P
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          542 Main St, Toranto
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-center"
                        >
                          5 Stars
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-right"
                        >
                          <a
                            href="landlord/tenant-edit"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >View</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Amit P
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          542 Main St, Toranto
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-center"
                        >
                          5 Stars
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-right"
                        >
                          <a
                            href="landlord/tenant-edit"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >View</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Amit P
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          542 Main St, Toranto
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-center"
                        >
                          5 Stars
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle text-right"
                        >
                          <a
                            href="landlord/tenant-edit"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >View</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <nav aria-label="assets.">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <span class="page-link h-100">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                      </span>
                    </li>

                    <li class="page-item">
                      <span class="page-link">1</span>
                    </li>

                    <li class="page-item active">
                      <a class="page-link h-100" href="#">2</a>
                    </li>

                    <li class="page-item">
                      <a class="page-link h-100" href="#">3</a>
                    </li>

                    <li class="page-item">
                      <a class="page-link h-100" href="#">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
