<div class="HomePageCarouselslide">
  <div class="card">
    <div class="p-2">
      <img
        class="img-fluid"
        src="assets/img/wishlist-box-img.png"
        width="100%"
      />
    </div>

    <div class="p-3">
      <div class="align-items-center row">
        <div class="col-md-10 col-10 pr-0">
          <span
            class="dashboard-border-radius font-10 font-weight-1000 pb-1 pl-2 pr-2 status-bg-color-four theme-color-one pt-1 text-white"
          >
            <img
              class="d-inline mr-1 icon"
              src="assets/img/icons/verify-icon.png"
              style="width: unset !important"
            />Only verified profiles allowed to bid
          </span>
        </div>

        <div class="col-2 col-md-2 text-right">
          <!-- <img
            class="d-inline icon"
            src="assets/img/icons/wishlist-yellow-icon.png"
            style="width: unset !important"
          /> -->
          <span id="heart"
            ><i class="fa fa-heart-o" aria-hidden="true"></i>
          </span>
        </div>

        <div class="col-md-12">
          <h5 class="card-title font-16 font-weight-600 mb-3 mt-3">
            <a href="#" class="text-dark line-height-1-4"
              >Private, emotional lodging cabin in Yeongwol, Gangwon Province</a
            >
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="font-11">
            <img
              class="d-inline"
              src="assets/img/icons/location-vector.png"
              style="width: unset !important"
            />
            4140 Parker Rd. Allentown, New Mexico 31134
          </p>
        </div>
      </div>

      <div class="d-flex justify-content-between mb-2 mt-2">
        <div class="">
          <p class="font-10 font-weight-600 text-dark">
            <img
              class="d-inline mr-1"
              src="assets/img/icons/f1.png"
              style="width: unset !important"
            />
            2 Bed
          </p>
        </div>
        <div class="">
          <p class="font-10 font-weight-600 text-dark">
            <img
              class="d-inline mr-1"
              src="assets/img/icons/f2.png"
              style="width: unset !important"
            />
            2 Bathroom
          </p>
        </div>

        <div class="">
          <p class="font-10 font-weight-600 text-dark">
            <img
              class="d-inline mr-1"
              src="assets/img/icons/car-parking-icon.png"
              style="width: unset !important"
            />
            2 Parking
          </p>
        </div>
      </div>
      <div class="row bid-status-button">
        <div class="col-6 col-md-6 pr-0">
          <div
            class="bid-status-button-left status-bg-color-four pb-2 pt-2 text-center"
          >
            <span class="mb-1 d-block font-10 dark-color-second"
              >Highest bid</span
            >
            <span class="d-block font-weight-600 font-18 theme-color-one"
              >$1,130</span
            >
          </div>
        </div>
        <div class="col-6 col-md-6 pl-0">
          <div
            class="bid-status-button-right status-bg-color-six pb-2 pt-2 text-center"
          >
            <span class="mb-1 d-block font-10 dark-color-second"
              >Asking price</span
            >
            <span class="d-block font-weight-600 font-18 status-color-five"
              >$5,110</span
            >
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <a
            href="frontend/search-results-listing-details"
            class="border-radius-6 btn btn-block font-13 font-weight-600 pb-2 primary-bg-color-first pt-2 text-white"
          >
            Bid Now
            <img
              src="assets/img/icons/white-arrow.png"
              class="d-inline ml-2"
              style="width: unset !important"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
