<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader">
      <app-loader></app-loader>
    </div>
  </div>

  <!-- Header section -->
  <header class="header-section shadow-none clearfix bg-transparent">
    <div class="container">
      <div class="align-items-center row">
        <div class="col-6 col-lg-3 col-md-3 col-sm-6 text-xs-center">
          <a href="homepage" class="site-logo">
            <img src="assets/img/logos/Hauskarma-header-logo.png" alt="" />
          </a>
        </div>

        <!-- This Code Hidde On extera large and large Screen Start  -->
        <!-- <div
          class="col-4 col-sm-5 col-md-8 col-lg-3 text-right text-xs-center align-self-center d-xl-none d-lg-none"
        >
          <a
            href="assets/renter-login/login"
            class="btn font-weight-bold pl-4 pr-4 secondary-bg-color-first site-btn"
            >LOGIN</a
          >
        </div> -->

        <nav class="navbar-nav main-menu d-xl-none d-lg-none">
          <ul class="menu-list">
            <li><a href="homepage">Rentals</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Features</a
              >
              <ul
                class="dropdown-menu text-center"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="frontend/features-landlord"
                    >Landlord</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="frontend/features-renter"
                    >Renter</a
                  >
                </li>
              </ul>
            </li>
            <li><a href="frontend/pricing-renter">Pricing</a></li>
            <li><a href="#">Rentals Resources</a></li>
          </ul>
        </nav>
        <!-- This Code Hidde On extera large and large Screen End  -->

        <div class="col-2 col-sm-1 col-md-1 col-lg-7 text-center">
          <div class="responsive-bar"><i class="fa fa-bars"></i></div>
          <!-- This Code Show On extera large and large Screen Start  -->
          <nav
            class="navbar-nav main-menu d-md-none d-sm-none d-xs-none d-lg-block"
          >
            <ul class="menu-list">
              <li><a href="homepage">Rentals</a></li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Features</a
                >
                <ul
                  class="dropdown-menu text-center"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li>
                    <a class="dropdown-item" href="frontend/features-landlord"
                      >Landlord</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="frontend/features-renter"
                      >Renter</a
                    >
                  </li>
                </ul>
              </li>

              <li><a href="frontend/pricing-renter">Pricing</a></li>
              <li><a href="#">Rentals Resources</a></li>
            </ul>
          </nav>
          <!-- This Code Show On extera large and large Screen End  -->
        </div>

        <!-- This Code Show On extera large and large Screen Start  -->
        <!-- <div
          class="col-12 col-sm-6 col-md-4 col-lg-2 text-right align-self-center d-md-none d-sm-none d-xs-none d-lg-block"
        >
          <a
            href="login"
            class="btn font-weight-bold pl-4 pr-4 secondary-bg-color-first site-btn"
            >LOGIN</a
          >
        </div> -->
        <!-- This Code Show On extera large and large Screen End  -->
      </div>
    </div>
  </header>

  <!-- ==============================================================
    ================= Password Reset successfully Modal Start ======-->
  <div
    class="modal fade"
    id="createprofileModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createprofileModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="border-0 modal-header">
          <button
            type="button"
            class="close mr-2 opacity-1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <img
              src="assets/img/icons/modal-close-icon.png"
              width="20"
              alt=""
            />
          </button>
        </div>

        <div class="modal-body text-center">
          <img src="assets/img/icons/success-modal-icon.png" alt="" />
          <h5 class="font-28 font-weight-600 mt-3 primary-color-first">
            Reset Password
          </h5>
          <h5 class="dark-color-three font-16 mt-3">
            A link to reset your password will be sent to the email associated
            with your account.
          </h5>
          <a
            href="auth/login"
            class="btn dashboard-border-radius-second font-weight-600 mt-4 pb-2 pl-4 pr-4 primary-bg-color-first pt-2 text-white"
          >
            Back to login
            <img src="assets/img/icons/white-arrow.png" class="ml-2" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--  ==============================================================
  ================= Password Reset successfully Modal End ========-->

  <!-- Header section end -->

  <!-- Login Section Code Start -->
  <section class="login-section-wraper">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-6 m-auto">
          <div class="card">
            <div class="card-body p-md-5">
              <h2 class="card-title text-center mb-5">Reset password</h2>
              <p class="text-center font-14 mb-5">
                A link to reset your password will be sent to the email
                associated with your account.
              </p>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-white pl-4">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input
                    id="firstName"
                    type="text"
                    name="firstname"
                    placeholder="Email"
                    formControlName="email"
                    class="bg-white border-left-0 border-md font-14 form-control"
                  />
                </div>

                <div class="form-group text-center">
                  <button
                    [disabled]="resetPasswordForm.invalid"
                    [ngClass]="{
                      'disable-button-color': resetPasswordForm.invalid
                    }"
                    type="submit"
                    href="#"
                    data-toggle="modal"
                    data-target="#createprofileModalCenter"
                    class="btn btn-block btn-lg font-weight-bold pb-3 pt-3 second-site-btn text-white"
                  >
                    RESET
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="mb-5 mt-5 text-center">
            <a href="auth/login" class="font-14 text-dark">Back to login</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Login Section Code End -->
</body>
