<body>
  <!-- ==============================================================
    ================= Password Reset successfully Modal Start ======-->
  <div
    class="modal fade"
    id="createprofileModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createprofileModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="border-0 modal-header">
          <button
            type="button"
            class="close mr-2 opacity-1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <img
              src="assets/img/icons/modal-close-icon.png"
              width="20"
              alt=""
            />
          </button>
        </div>

        <div class="modal-body text-center">
          <img src="assets/img/icons/success-modal-icon.png" alt="" />
          <h5 class="font-28 font-weight-600 mt-3 primary-color-first">
            Password Change !
          </h5>
          <h5 class="dark-color-three font-16 mt-3">
            Your Password change successfully.
          </h5>
          <!-- <a
            href="dashboard.html"
            class="btn dashboard-border-radius-second font-weight-600 mt-4 pb-2 pl-4 pr-4 primary-bg-color-first pt-2 text-white"
          >
            Your Password change successfully.
            <img src="assets/img/icons/white-arrow.png" class="ml-2" alt="" />
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <!-- ==============================================================
  ================= Password Reset successfully Modal End ========-->

  <!--=========================================== 
    =======  Dashboard Content Section Start ======
    =========================================== -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card p-xs-2 pl-md-4 pr-md-4 pl-sm-5 pr-sm-5 pl-sm-3 pr-sm-3 pb-4 border-radius-6 h-100vh"
          >
            <h5 class="dark-color-first font-weight-600 font-20 mt-4 pt-3 mb-2">
              Change Password
            </h5>
            <div class="row mt-4 add-payment-method">
              <div class="col-md-6 mb-4">
                <div class="form-group">
                  <label>Current Password </label>
                  <div class="input-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Min 8 characters"
                    />
                    <div
                      class="bottom-0 input-group-append position-absolute right-0 top-0 z-index-1024"
                    >
                      <span
                        class="bg-transparent border-0 input-group-text pr-4"
                      >
                        <img src="/assets/img/icons/eye-two.png" alt="" />
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-4">
                <div class="form-group">
                  <label>New Password </label>
                  <div class="input-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="At least 1 alphabet special character"
                    />
                    <div
                      class="bottom-0 input-group-append position-absolute right-0 top-0 z-index-1024"
                    >
                      <span
                        class="bg-transparent border-0 input-group-text pr-4"
                      >
                        <img src="/assets/img/icons/eye-two.png" alt="" />
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-4">
                <div class="form-group">
                  <label>Confirm New Password </label>
                  <div class="input-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="At least 1 alphabet special character"
                    />
                    <div
                      class="bottom-0 input-group-append position-absolute right-0 top-0 z-index-1024"
                    >
                      <span
                        class="bg-transparent border-0 input-group-text pr-4"
                      >
                        <img src="/assets/img/icons/eye-two.png" alt="" />
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group mb-4">
                  <a
                    data-toggle="modal"
                    data-target="#createprofileModalCenter"
                    href="#"
                    class="border-primary-2 btn dashboard-border-radius-second font-13 font-weight-600 pb-2 pb-3 pl-5 pr-5 primary-bg-color-first pt-2 pt-3 text-white"
                    >Change Password
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--============================================ 
    =======  Dashboard Content Section End =========
    ===========================================  -->
</body>
