<body>
  <!--=========================================== 
    =======  Dashboard Content Section Start ======
    =========================================== -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card p-lg-4 p-md-3 p-sm-3 p-xl-4 p-xs-2 pb-4 border-radius-6 h-100vh"
          >
            <h5 class="dark-color-first font-weight-600 font-20 mt-4 pt-3 mb-2">
              Settings
            </h5>

            <div class="row mt-4">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-3">
                <a href="common/billing-address">
                  <div
                    class="card h-100 dashboard-border-radius primary-bg-color-third border-0"
                  >
                    <div class="card-body p-lg-4 p-md-4 p-sm-3 p-xs-3">
                      <div class="media">
                        <img
                          class="mr-3"
                          src="assets/img/icons/billing-address.png"
                          alt="Billing Address"
                        />
                        <div class="media-body">
                          <h5
                            class="dark-color-second font-18 font-weight-600 mt-0"
                          >
                            Billing Address
                          </h5>
                          <p
                            class="dark-color-second font-12 font-weight-600 mb-0 mt-2"
                          >
                            Add or Remove your Billing address here
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-3">
                <a href="landlord/change-contact-details">
                  <div
                    class="card h-100 dashboard-border-radius primary-bg-color-third border-0"
                  >
                    <div class="card-body p-lg-4 p-md-4 p-sm-3 p-xs-3">
                      <div class="media">
                        <img
                          class="mr-3"
                          src="assets/img/icons/call-remove.png"
                          alt="Billing Address"
                        />
                        <div class="media-body">
                          <h5
                            class="dark-color-second font-18 font-weight-600 mt-0"
                          >
                            Change Contact Details
                          </h5>
                          <p
                            class="dark-color-second font-12 font-weight-600 mb-0 mt-2"
                          >
                            Update your contact details
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-3">
                <a href="common/change-password-two">
                  <div
                    class="card h-100 dashboard-border-radius primary-bg-color-third border-0"
                  >
                    <div class="card-body p-lg-4 p-md-4 p-sm-3 p-xs-3">
                      <div class="media">
                        <img
                          class="mr-3"
                          src="assets/img/icons/change-password.png"
                          alt="Billing Address"
                        />
                        <div class="media-body">
                          <h5
                            class="dark-color-second font-18 font-weight-600 mt-0"
                          >
                            Change Password
                          </h5>
                          <p
                            class="dark-color-second font-12 font-weight-600 mb-0 mt-2"
                          >
                            Update your contact details
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-3">
                <a href="common/delete-account">
                  <div
                    class="card h-100 dashboard-border-radius primary-bg-color-third border-0"
                  >
                    <div class="card-body p-lg-4 p-md-4 p-sm-3 p-xs-3">
                      <div class="media">
                        <img
                          class="mr-3"
                          src="assets/img/icons/trash.png"
                          alt="Billing Address"
                        />
                        <div class="media-body">
                          <h5
                            class="dark-color-second font-18 font-weight-600 mt-0"
                          >
                            Delete My Account
                          </h5>
                          <p
                            class="dark-color-second font-12 font-weight-600 mb-0 mt-2"
                          >
                            No Longer Need Us?
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--============================================ 
    =======  Dashboard Content Section End =========
    ===========================================  -->
</body>
