<body class="pricing-landlord">
  <section class="pricing-banner">
    <div class="container pb-5 pt-5">
      <div class="align-items-center row">
        <div
          class="col-md-5 col-lg-5 col-xl-5 left-content order-md-0 order-sm-1 order-xs-1"
        >
          <h5 class="font-30 font-weight-bold">Pricing</h5>
          <p class="dark-color-second mt-xs-0 card-text mt-4">
            Created with renters in mind, we're here to help relieve the stress
            from renting. As a renter, you'll always enjoy these features for
            free.
          </p>
          <a
            class="btn dashboard-border-radius-second font-11 font-weight-600 pb-2 primary-bg-color-first pt-2 text-white"
          >
            View Pricing for Renter
            <img class="ml-2" src="assets/img/icons/white-arrow.png" />
          </a>
        </div>
        <div
          class="col-md-7 col-lg-7 col-xl-6 right-content text-center animate__animated animate__bounce ml-lg-auto"
        >
          <img src="assets/img/pricing-page-banner.png" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section class="pricing-card mb-5 mt-5">
    <div class="container">
      <div class="mb-5 pt-4 row">
        <div class="col-md-12 text-center">
          <h5 class="font-30 font-weight-bold mb-3">
            Best Pricing that you are looking for
          </h5>
          <small class="font-18 dark-color-second"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor</small
          >
        </div>
      </div>
      <header>
        <div class="align-items-center d-flex justify-content-center mb-5">
          <label
            class="dark-color-second font-16 font-weight-600 text-uppercase mb-0"
            >Montly
          </label>
          <div class="toggle-btn" o>
            <input type="checkbox" class="checkbox" id="checkbox" />
            <label class="sub mb-0" id="sub" for="checkbox">
              <div class="circle"></div
            ></label>
          </div>
          <label
            class="dark-color-second font-16 font-weight-600 text-uppercase mb-0"
          >
            Yearly</label
          >
        </div>
      </header>
      <div class="cards pb-5">
        <div class="card border-0">
          <ul>
            <li
              class="dark-color-second font-22 font-weight-600 list-style-none mt-4"
            >
              FAMILY
            </li>
            <li
              id="basic"
              class="font-36 font-weight-600 list-style-none mb-4 mt-3 primary-color-first"
            >
              &dollar;299.00<sub
                class="font-13 font-weight-normal"
                style="bottom: 0"
                >/month</sub
              >
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              3 Units
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Digital Rent Collection(See fees)
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Instant Renter Chat
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Digital Tenant Application
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Standard BC Contract
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-read-icon.png"
                alt=""
              />
              Priority Online Support
            </li>
            <li
              class="border-bottom border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-read-icon.png"
                alt=""
              />
              DUp to 2 Additional Users
            </li>
            <li class="list-style-none pb-2 pt-2">
              <button
                class="align-items-center btn btn-block d-flex dark-color-second font-weight-600 justify-content-center mt-4 pb-2 primary-bg-color-second pt-2"
              >
                <span>Get Started</span>
                <img
                  class="ml-2"
                  src="assets/img/icons/primary-arrow-two.png"
                  alt=""
                />
              </button>
            </li>
          </ul>
        </div>
        <div class="card active border-0">
          <ul>
            <li
              class="dark-color-second font-22 font-weight-600 list-style-none mt-4"
            >
              BUSINESS
            </li>
            <li
              id="professional"
              class="font-36 font-weight-600 list-style-none mb-4 mt-3 primary-color-first"
            >
              &dollar;699.00<sub
                class="font-13 font-weight-normal"
                style="bottom: 0"
                >/month</sub
              >
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Everything in Family Plan
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Unlimited Units
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Unlimited Users
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Digital Rent Collection(See fees)
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              User Management
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Listing Optimization
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              3 Tenant Screening Premium
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Custom Contract & Addendums
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Discounted Branded Company Page
            </li>
            <li
              class="border-bottom border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Priority On/Offline Support
            </li>
            <li class="list-style-none pb-2 pt-2">
              <button
                class="align-items-center btn btn-block d-flex font-weight-600 justify-content-center mt-4 pb-2 primary-bg-color-first pt-2 text-white"
              >
                <span>Get Started</span>
                <img
                  class="ml-2"
                  src="assets/img/icons/white-arrow.png"
                  alt=""
                />
              </button>
            </li>
          </ul>
        </div>
        <div class="card border-0">
          <ul>
            <li
              class="dark-color-second font-22 font-weight-600 list-style-none mt-4"
            >
              FAMILY
            </li>
            <li
              id="master"
              class="font-36 font-weight-600 list-style-none mb-4 mt-3 primary-color-first"
            >
              &dollar;299.00<sub
                class="font-13 font-weight-normal"
                style="bottom: 0"
                >/month</sub
              >
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              3 Units
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Digital Rent Collection(See fees)
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Instant Renter Chat
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Digital Tenant Application
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-icom.png"
                alt=""
              />
              Standard BC Contract
            </li>
            <li
              class="border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-read-icon.png"
                alt=""
              />
              Priority Online Support
            </li>
            <li
              class="border-bottom border-top dark-color-second font-16 list-style-none pb-2 pt-2"
            >
              <img
                class="mr-2"
                src="assets/img/icons/pricing-li-read-icon.png"
                alt=""
              />
              DUp to 2 Additional Users
            </li>
            <li class="list-style-none pb-2 pt-2">
              <button
                class="align-items-center btn btn-block d-flex dark-color-second font-weight-600 justify-content-center mt-4 pb-2 primary-bg-color-second pt-2"
              >
                <span>Get Started</span>
                <img
                  class="ml-2"
                  src="assets/img/icons/primary-arrow-two.png"
                  alt=""
                />
              </button>
            </li>
          </ul>
        </div>
      </div>

      <!-- <div class="pb-5 pt-5 row">

                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-header">
                            <h5 class="mb-0 font-40 font-menu font-weight-1000 text-center text-uppercase text-white">Personal</h5>
                            <h6 class="font-20 font-menu font-weight-1000 text-center text-white">$00</h6>
                        </div>
                        <div class="card-body">

                            <ul class="list-style-none">
                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">3 Units</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Digital Rent Collection(See fees)</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15">Instant Renter Chat</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Tenant Screening LITE</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Digital Tenant Application</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Standard BC Contract</small></span>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card active mb-5 mb-lg-0">
                        <div class="card-header">
                            <h5 class="font-40 font-menu font-weight-1000 mb-0 text-center text-uppercase">Personal</h5>
                            <h6 class="font-20 font-menu font-weight-1000 text-center">$00</h6>
                        </div>
                        <div class="card-body">

                            <ul class="list-style-none">
                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">3 Units</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Digital Rent Collection(See fees)</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Instant Renter Chat</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Tenant Screening LITE</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Digital Tenant Application</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Standard BC Contract</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Priority Online Support</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Up to 2 Additional Users</small></span>

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0 font-40 font-menu font-weight-1000 text-center text-uppercase text-white">business</h5>
                            <h6 class="font-20 font-menu font-weight-1000 text-center text-white">$00</h6>
                        </div>
                        <div class="card-body">

                            <ul class="list-style-none">
                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Everything in Family Plan</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Unlimited Units</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Unlimited Users</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Digital Rent Collection(See fees)</small></span>
                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">User Management</small></span>

                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Listing Optimization</small></span>

                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">3 Tenant Screening Premium</small></span>

                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Custom Contract & Addendums</small></span>

                                </li>

                                <li class="clearfix">
                                    <span class="img-span"><img src="assets/img/icons/pricing-card-icon.png" alt=""></span>
                                    <span class="content-span"><small class="font-15 text-uppercase">Priority On/Offline Support</small></span>

                                </li>

                            </ul>

                        </div>
                    </div>
                </div>

            </div> -->
    </div>
  </section>
</body>
