<body>
  <section class="features-landlord-banner">
    <div class="container pb-5 pt-5">
      <div class="align-items-center row">
        <div
          class="col-lg-5 col-xl-5 col-md-6 left-content mt-md-0 mt-sm-4 mt-xs-4 order-md-0 order-sm-1 order-xs-1"
        >
          <h5 class="font-30 font-weight-bold mb-3">
            Frequently Asked Questions
          </h5>
          <h5 class="font-15 font-weight-600 mt-lg-5 primary-color-first">
            Ask away your queries
          </h5>
          <p class="dark-color-second mt-xs-2 card-text mt-4">
            Created with renters in mind, we're here to help relieve the stress
            from renting. As a renter, you'll always enjoy these features for
            free.
          </p>
        </div>
        <div
          class="animate__animated animate__bounce col-md-6 ml-lg-auto ml-xl-auto"
        >
          <div class="banner-img">
            <img src="assets/img/faqs-banner.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-5 mt-5">
    <div class="container">
      <div class="mb-5 pt-4 row faqs-nav">
        <div class="col-md-12">
          <ul
            class="justify-content-center nav nav-tabs border-0 mb-4 mt-md-5 mt-lg-5 mt-xl-0"
            id="myTab"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="active font-16 font-weight-bold nav-link text-uppercase"
                id="general-tab"
                data-toggle="tab"
                href="#general"
                role="tab"
                aria-controls="general"
                aria-selected="true"
                >General</a
              >
            </li>

            <li class="nav-item">
              <a
                class="font-16 font-weight-bold nav-link text-uppercase"
                id="renter-tab"
                data-toggle="tab"
                href="renter"
                role="tab"
                aria-controls="renter"
                aria-selected="false"
                >Renter</a
              >
            </li>

            <li class="nav-item">
              <a
                class="font-16 font-weight-bold nav-link text-uppercase"
                id="landlord-tab"
                data-toggle="tab"
                href="landlord"
                role="tab"
                aria-controls="landlord"
                aria-selected="false"
                >Landlord</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="pb-5 row">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="tab-content" id="myTabContent">
                <!-- =============================================
                                ================ General  Start ============== -->
                <div
                  class="tab-pane show active"
                  id="general"
                  role="tabpanel"
                  aria-labelledby="general-tab"
                >
                  <div
                    id="accordion"
                    role="tablist"
                    aria-multiselectable="true"
                  >
                    <div class="card border-0 mb-4">
                      <div
                        class="card-header"
                        role="tab"
                        id="accordionHeading1"
                      >
                        <div class="col-12 accordion-head">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#accordionBody1"
                            aria-expanded="false"
                            aria-controls="accordionBody1"
                            class="collapsed"
                          >
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <h3 class="font-15 font-weight-bold">
                              Who has access to my personal information?
                            </h3>
                          </a>
                        </div>

                        <div
                          id="accordionBody1"
                          class="collapse mt-4"
                          role="tabpanel"
                          aria-labelledby="accordionHeading1"
                          aria-expanded="false"
                          data-parent="accordion"
                        >
                          <div class="card-body p-0">
                            <div class="card-block col-12">
                              <p class="mb-0 dark-color-second">
                                Yes, contracts signed on liv.rent are legally
                                binding. When users enter into a tenancy
                                agreement, they are entering into a contract
                                directly with each other. NOTE: liv.rent only
                                serves as a tool provider to facilitate the
                                contract process, but is not a party to any
                                tenancy agreement and has no authority to
                                enforce the terms outlined in the signed
                                agreement.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card border-0 mb-4">
                      <div
                        class="card-header"
                        role="tab"
                        id="accordionHeading7"
                      >
                        <div class="col-12 accordion-head">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#accordionBody7"
                            aria-expanded="false"
                            aria-controls="accordionBody7"
                            class="collapsed"
                          >
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <h3 class="font-15 font-weight-bold">
                              How does Hauskarma protect my personal
                              information?
                            </h3>
                          </a>
                        </div>
                        <div
                          id="accordionBody7"
                          class="collapse mt-4"
                          role="tabpanel"
                          aria-labelledby="accordionHeading7"
                          aria-expanded="false"
                          data-parent="accordion"
                        >
                          <div class="card-body p-0">
                            <div class="card-block col-12">
                              <p class="mb-0 dark-color-second">
                                Yes, contracts signed on liv.rent are legally
                                binding. When users enter into a tenancy
                                agreement, they are entering into a contract
                                directly with each other. NOTE: liv.rent only
                                serves as a tool provider to facilitate the
                                contract process, but is not a party to any
                                tenancy agreement and has no authority to
                                enforce the terms outlined in the signed
                                agreement.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- =============================================
                                ============= General Content End ============ -->

                <!-- =========================================
                                ========= Renter Content Start =========== -->
                <div
                  class="tab-pane fade"
                  id="renter"
                  role="tabpanel"
                  aria-labelledby="renter-tab"
                >
                  <div class="card border-0 mb-4">
                    <div class="card-header" role="tab" id="accordionHeading1">
                      <div class="col-12 accordion-head">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#accordionBody1"
                          aria-expanded="false"
                          aria-controls="accordionBody1"
                          class="collapsed"
                        >
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                          <h3 class="font-15 font-weight-bold">
                            Who has access to my personal information?
                          </h3>
                        </a>
                      </div>

                      <div
                        id="accordionBody1"
                        class="collapse mt-4"
                        role="tabpanel"
                        aria-labelledby="accordionHeading1"
                        aria-expanded="false"
                        data-parent="accordion"
                      >
                        <div class="card-body p-0">
                          <div class="card-block col-12">
                            <p class="mb-0 dark-color-second">
                              Yes, contracts signed on liv.rent are legally
                              binding. When users enter into a tenancy
                              agreement, they are entering into a contract
                              directly with each other. NOTE: liv.rent only
                              serves as a tool provider to facilitate the
                              contract process, but is not a party to any
                              tenancy agreement and has no authority to enforce
                              the terms outlined in the signed agreement.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card border-0 mb-4">
                    <div class="card-header" role="tab" id="accordionHeading7">
                      <div class="col-12 accordion-head">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#accordionBody7"
                          aria-expanded="false"
                          aria-controls="accordionBody7"
                          class="collapsed"
                        >
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                          <h3 class="font-15 font-weight-bold">
                            How does Hauskarma protect my personal information?
                          </h3>
                        </a>
                      </div>
                      <div
                        id="accordionBody7"
                        class="collapse mt-4"
                        role="tabpanel"
                        aria-labelledby="accordionHeading7"
                        aria-expanded="false"
                        data-parent="accordion"
                      >
                        <div class="card-body p-0">
                          <div class="card-block col-12">
                            <p class="mb-0 dark-color-second">
                              Yes, contracts signed on liv.rent are legally
                              binding. When users enter into a tenancy
                              agreement, they are entering into a contract
                              directly with each other. NOTE: liv.rent only
                              serves as a tool provider to facilitate the
                              contract process, but is not a party to any
                              tenancy agreement and has no authority to enforce
                              the terms outlined in the signed agreement.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- =========================================
                                ========= Renter Content End ============= -->

                <!-- =============================================
                                ========= Landlord Content Start ============= -->
                <div
                  class="tab-pane fade"
                  id="landlord"
                  role="tabpanel"
                  aria-labelledby="landlord-tab"
                >
                  <div class="card border-0 mb-4">
                    <div class="card-header" role="tab" id="accordionHeading1">
                      <div class="col-12 accordion-head">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#accordionBody1"
                          aria-expanded="false"
                          aria-controls="accordionBody1"
                          class="collapsed"
                        >
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                          <h3 class="font-15 font-weight-bold">
                            Who has access to my personal information?
                          </h3>
                        </a>
                      </div>

                      <div
                        id="accordionBody1"
                        class="collapse mt-4"
                        role="tabpanel"
                        aria-labelledby="accordionHeading1"
                        aria-expanded="false"
                        data-parent="accordion"
                      >
                        <div class="card-body p-0">
                          <div class="card-block col-12">
                            <p class="mb-0 dark-color-second">
                              Yes, contracts signed on liv.rent are legally
                              binding. When users enter into a tenancy
                              agreement, they are entering into a contract
                              directly with each other. NOTE: liv.rent only
                              serves as a tool provider to facilitate the
                              contract process, but is not a party to any
                              tenancy agreement and has no authority to enforce
                              the terms outlined in the signed agreement.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card border-0 mb-4">
                    <div class="card-header" role="tab" id="accordionHeading7">
                      <div class="col-12 accordion-head">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#accordionBody7"
                          aria-expanded="false"
                          aria-controls="accordionBody7"
                          class="collapsed"
                        >
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                          <h3 class="font-15 font-weight-bold">
                            How does Hauskarma protect my personal information?
                          </h3>
                        </a>
                      </div>
                      <div
                        id="accordionBody7"
                        class="collapse mt-4"
                        role="tabpanel"
                        aria-labelledby="accordionHeading7"
                        aria-expanded="false"
                        data-parent="accordion"
                      >
                        <div class="card-body p-0">
                          <div class="card-block col-12">
                            <p class="mb-0 dark-color-second">
                              Yes, contracts signed on liv.rent are legally
                              binding. When users enter into a tenancy
                              agreement, they are entering into a contract
                              directly with each other. NOTE: liv.rent only
                              serves as a tool provider to facilitate the
                              contract process, but is not a party to any
                              tenancy agreement and has no authority to enforce
                              the terms outlined in the signed agreement.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ==========================================
                                ========= Landlord Content End ============ -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
