<body>
  <section class="features-landlord-banner">
    <div class="container pb-5 pt-5">
      <div class="align-items-center row">
        <div
          class="col-lg-5 col-xl-5 col-md-6 left-content mt-md-0 mt-sm-4 mt-xs-4 order-md-0 order-sm-1 order-xs-1"
        >
          <h5 class="font-30 font-weight-bold">Hauskarma Brings you</h5>
          <p class="dark-color-second mt-xs-0 card-text mt-4">
            Created with renters in mind, we're here to help relieve the stress
            from renting. As a renter, you'll always enjoy these features for
            free.
          </p>
          <a
            href="frontend/pricing-landlord"
            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-4 pr-4 primary-bg-color-first text-white"
          >
            Browse Pricings
            <img src="assets/img/icons/white-arrow.png" class="ml-2" />
          </a>
        </div>
        <div
          class="animate__animated animate__bounce col-md-6 ml-lg-auto ml-xl-auto"
        >
          <div class="banner-img">
            <img
              src="assets/img/features-landlord-banner.png"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="dashboard-five-btn-bg">
    <div class="container pt-5">
      <div class="row mb-5 pt-4">
        <div class="col-md-12 text-center">
          <h5 class="font-30 font-weight-bold mb-3">
            Effectively advertise your listing
          </h5>
          <small class="font-17 dark-color-second"
            >Lorem Ipsum is simply dummy text</small
          >
        </div>
      </div>

      <div class="pb-5 features-landlord">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-5 pt-5 text-center">
                <img
                  class="mt-3"
                  src="assets/img/icons/features-landlord/line-md_check-list.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Fast listing creation
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card active">
              <div class="card-body pb-5 pt-5 text-center">
                <img
                  class="mt-3"
                  src="assets/img/icons/features-landlord/foundation_page-multiple.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Multi-listing capabilities
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-5 pt-5 text-center">
                <img
                  class="mt-3"
                  src="assets/img/icons/features-landlord/cib_creative-commons-share.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Listing syndication
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-5 pt-5 text-center">
                <img
                  class="mt-3"
                  src="assets/img/icons/features-landlord/document-icon1.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Listing optimization
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-5 pt-5 text-center">
                <img
                  class="mt-3"
                  src="assets/img/icons/features-landlord/Vector-3.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Company profile
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-5 pt-5 text-center">
                <img
                  class="mt-3"
                  src="assets/img/icons/features-landlord/shareit.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Share and invit to listing
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-5 pt-5 text-center">
                <img
                  class="mt-3"
                  src="assets/img/icons/features-landlord/video-icon.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Video Tours
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="dashboard-six-btn-bg">
    <div class="container pt-5">
      <div class="row mb-5 pt-5">
        <div class="col-md-12 text-center">
          <h5 class="font-30 font-weight-bold mb-3">
            Quickly find credible renters
          </h5>
          <small class="font-17 dark-color-second"
            >Lorem Ipsum is simply dummy text of the printing and typesetting
            industry</small
          >
        </div>
      </div>

      <div class="pb-5 features-landlord">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/line-md_check-list1.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Verified tenants
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/search-document-icon.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Easy tenants screening
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/company-profile-icon.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Send digital contract
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find4.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Instant chat with renters
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find5.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Receive digital application
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/medical-icon_administration.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Multi-user administration
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find7.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  General relevant leads
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/ant-design_schedule-filled.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Appointments scheduler
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="container pt-5">
      <div class="row pt-5">
        <div class="col-md-12 text-center">
          <h5 class="font-30 font-weight-bold mb-3">
            Effectively advertise your listing
          </h5>
          <small class="font-17 dark-color-second"
            >Lorem Ipsum is simply dummy text</small
          >
        </div>
      </div>

      <div class="features-landlord">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4 text-center">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find9.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Secure cloud storage
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4 text-center">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find10.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Platform security
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4 text-center">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find11.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Receive payments digitally
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4 text-center">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find12.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Easy re-listing
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4 text-center">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find13.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Contract renewal
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4 text-center">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find14.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Digital filing cabinet
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4 text-center">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find15.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Rental chat history
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4 text-center">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find16.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Online support
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-4 pt-4 text-center">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/find17.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Move in/out report
                </h5>
                <p class="dark-color-second font-15 mb-2 mb-3 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white features-landlord-btn-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="primary-bg-color-first features-landlord-btn-box">
            <div
              class="col-lg-6 col-md-10 col-sm-12 mb-md-0 mb-sm-5 mb-xs-5 pb-md-0 pb-sm-5 pb-xs-4"
            >
              <h2 class="font-weight-bold mb-4 text-white">
                Do you want our service?
              </h2>
              <div
                class="btn-group mb-md-0 mb-sm-5 mb-xs-5 mr-2"
                role="group"
                aria-label="Second group"
              >
                <a
                  href="auth/sign-up"
                  class="btn font-weight-bold pl-4 pr-4 secondary-bg-color-first site-btn"
                  >Sign Up</a
                >
              </div>
              <div
                class="btn-group mb-md-0 mb-sm-5 mb-xs-5"
                role="group"
                aria-label="Third group"
              >
                <a
                  href="frontend/pricing-landlord"
                  class="bg-white btn font-weight-bold pl-4 pr-4 primary-color-first site-btn"
                >
                  View pricings
                  <img src="assets/img/icons/primary-arrow.png" class="ml-2" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Renting Section Code Start -->
  <section class="renting-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h2 class="font-30 font-weight-bold mb-4">Renting Made Easy</h2>
          <p class="mb-4 pr-4">
            Find rentals at fair prices, apply, sign leases and pay for your
            rent all with Hauskarma.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="renting-easy-video">
            <img
              class="video-corner-design-t"
              src="assets/img/video-corner-design.png"
            />
            <video id="video" preload="metadata" poster="assets/img/Frame3.png">
              <source src="assets/img/3mb.mp4" type="video/mp4" />
            </video>
            <img
              class="video-corner-design-b"
              src="assets/img/video-corner-design.png"
            />
            <div class="play-button-wrapper" id="name">
              <div id="circle-play-b">
                <img src="assets/img/video-play-button.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Renting Section Code End -->
</body>
