<body>
  <!--=========================================== 
    =======  Dashboard Content Section Start ======
    =========================================== -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card p-xs-2 pl-md-4 pr-md-4 pl-sm-5 pr-sm-5 pl-sm-3 pr-sm-3 pb-4 h-100vh border-radius-6"
          >
            <h5 class="dark-color-first font-weight-600 font-20 mt-4 pt-3 mb-2">
              Update Profile
            </h5>
            <div class="row mt-4">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div
                  class="w-100 border-0 card float-lg-left float-md-none float-sm-none float-xl-left profile-left-sidebar rounded-0"
                >
                  <ul
                    class="border-top-0 navbar-nav navbar-sidenav profile-sidebar pb-5"
                    id="exampleAccordion"
                  >
                    <li class="nav-item pr-2 mb-3 active">
                      <a class="nav-link pl-3" href="renter/update-profile">
                        <img
                          class="active mr-2"
                          src="assets/img/icons/profile-sidebar-icons/basic-details-active.png"
                          alt=""
                        />
                        <img
                          class="inactive mr-2"
                          src="assets/img/icons/profile-sidebar-icons/basic-details-inactive.png"
                          alt=""
                        />
                        <span class="nav-link-text">Basic Details </span>
                      </a>
                    </li>

                    <li class="nav-item pr-2 mb-3">
                      <a class="nav-link pl-3" href="renter/residence-info">
                        <img
                          class="active mr-2"
                          src="assets/img/icons/profile-sidebar-icons/residence-info-active.png"
                          alt=""
                        />
                        <img
                          class="inactive mr-2"
                          src="assets/img/icons/profile-sidebar-icons/residence-info-inactive.png"
                          alt=""
                        />
                        <span class="nav-link-text">Residence Info </span>
                      </a>
                    </li>

                    <li class="nav-item pr-2 mb-3">
                      <a class="nav-link pl-3" href="renter/occupation">
                        <img
                          class="active mr-2"
                          src="assets/img/icons/profile-sidebar-icons/occupation-active.png"
                          alt=""
                        />
                        <img
                          class="inactive mr-2"
                          src="assets/img/icons/profile-sidebar-icons/occupation-inactive.png"
                          alt=""
                        />
                        <span class="nav-link-text">Occupation </span>
                      </a>
                    </li>

                    <li class="nav-item pr-2 mb-3 dropdown">
                      <a
                        href="#"
                        class="dropdown-toggle nav-link pl-3"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <img
                          class="active mr-2"
                          src="assets/img/icons/profile-sidebar-icons/miscellaneous-active.png"
                          alt=""
                        />
                        <img
                          class="inactive mr-2"
                          src="assets/img/icons/profile-sidebar-icons/miscellaneous-inactive.png"
                          alt=""
                        />
                        <span class="nav-link-text">Miscellaneous</span>
                        <span class="caret"></span>
                      </a>
                      <div class="dashboard-custom-dropdown">
                        <ul class="dropdown-menu">
                          <li class="mb-3">
                            <a
                              href="renter/misc-roommates"
                              class="font-13 font-weight-500"
                              >Roommates</a
                            >
                          </li>
                          <li class="mb-3">
                            <a
                              href="renter/misc-pets"
                              class="font-13 font-weight-500"
                              >Pets</a
                            >
                          </li>
                          <li class="mb-3">
                            <a
                              href="renter/home-insurance"
                              class="font-13 font-weight-500"
                              >Home Insurance</a
                            >
                          </li>
                          <li class="mb-3">
                            <a
                              href="renter/vehicle-details"
                              class="font-13 font-weight-500"
                              >Vehicle Details</a
                            >
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="update-profile">
                <div class="border-0 card text-center user-card">
                  <div class="profile-card-img">
                    <img
                      class="card-img-top user-id-img"
                      src="assets/img/profile.png"
                    />
                    <div class="overlay-icon">
                      <img src="assets/img/icons/edit.png" alt="" />
                    </div>
                  </div>
                  <div class="card-body">
                    <h4
                      class="card-title dark-color-first font-14 font-weight-600 opacity-1"
                    >
                      Adam Smith
                    </h4>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <form action="#">
                  <div class="row add-payment-method">
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label>First Name</label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="form-control pl-2 w-100"
                          placeholder="Adam"
                        />
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="form-control pl-2 w-100"
                          placeholder="Smith"
                        />
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label>Email</label>
                        <input
                          type="email"
                          name=""
                          id=""
                          class="form-control pl-2 w-100"
                          placeholder="adam@xample.com"
                        />
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label>Phone</label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="form-control pl-2 w-100"
                          placeholder="+135649528"
                        />
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <a
                          href="#"
                          class="btn dashboard-border-radius-second font-14 font-weight-600 pb-3 pl-5 pr-5 primary-bg-color-first pt-3 text-white"
                          >Edit</a
                        >
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--============================================
    =======  Dashboard Content Section End =========
    ===========================================  -->
</body>
