<body>
  <section class="features-renter-banner">
    <div class="container">
      <div class="align-items-center pt-5 row">
        <div
          class="col-lg-4 col-md-5 left-content mt-sm-4 mt-xs-4 order-md-0 order-sm-1 order-xs-1 pb-md-5 pb-sm-5 pb-xs-4 text-md-left text-sm-center text-xs-center"
        >
          <h5 class="font-30 font-weight-bold">The Hauskarma promises</h5>
          <p class="dark-color-second mt-xs-0 card-text mt-4">
            Created with Renters in mind, our system makes sure you NEVER over
            pay for rent.
          </p>
          <a
            href="frontend/pricing-renter"
            class="mt-3 btn dashboard-border-radius-second font-12 font-weight-600 pl-4 pr-4 primary-bg-color-first text-white"
          >
            Browse Pricings
            <img src="assets/img/icons/white-arrow.png" class="ml-2" />
          </a>
        </div>
        <div
          class="animate__animated animate__bounce col-lg-6 col-md-7 ml-lg-auto text-md-right text-sm-center text-xs-center"
        >
          <div class="banner-img">
            <img
              class="img-fluid"
              src="assets/img/features-renter-banner-two.png"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="container pt-5">
      <div class="row mb-5 pt-4">
        <div class="col-md-12 text-center">
          <h5 class="font-30 font-weight-bold mb-3">
            Features that you are looking for
          </h5>
          <small class="font-17 dark-color-second"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor</small
          >
        </div>
      </div>

      <div class="pb-5 features-landlord">
        <div class="row mb-5">
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-5 pt-5 text-center">
                <img
                  class="mt-3"
                  src="assets/img/icons/features-landlord/map-search.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Map and list rental search
                </h5>
                <p
                  class="dark-color-second font-15 mb-2 mt-4 dark-color-second"
                >
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card active">
              <div class="card-body pb-5 pt-5 text-center">
                <img
                  class="mt-3"
                  src="assets/img/icons/features-landlord/check-right.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Verified landlord
                </h5>
                <p
                  class="dark-color-second font-15 mb-2 mt-4 dark-color-second"
                >
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card">
              <div class="card-body pb-5 pt-5 text-center">
                <img
                  class="mt-3"
                  src="assets/img/icons/features-landlord/check-right1.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Verified rental listing
                </h5>
                <p
                  class="dark-color-second font-15 mb-2 mt-4 dark-color-second"
                >
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="dashboard-six-btn-bg">
    <div class="container pt-5">
      <div class="row mb-5 pt-5">
        <div class="col-md-12 text-center">
          <h5 class="font-30 font-weight-bold mb-3">
            Digital tools at your fingertips
          </h5>
          <small class="font-17 dark-color-second"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor</small
          >
        </div>
      </div>

      <div class="pb-5 features-landlord">
        <div class="row mb-5 justify-content-center">
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/check-box.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Hauskarma score
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/checker-icon.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Platform security
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/document-icon.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Renter resume
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/majesticons_support.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Online huskaram support
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/hand-click.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  One-click application
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/question-icon.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Instant landlord inquiry
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/teenyicons_contract-solid.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Sign digital contract
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/mdi_book-marker.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Book showing
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2"
                  src="assets/img/icons/features-landlord/card.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Pay rente online
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2 mb-2"
                  src="assets/img/icons/features-landlord/mdi_timeline-clock.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Online rental timeline
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card border-0">
              <div class="card-body p-3">
                <img
                  class="mt-3 mb-2 mb-2"
                  src="assets/img/icons/features-landlord/dashicons_database-view.png"
                  alt=""
                />
                <h5 class="dark-black font-16 font-weight-bold mt-4">
                  Renter resource database
                </h5>
                <p class="dark-color-second font-15 mb-2 mt-4">
                  Instantly inquire, chat or apply to listings of interest in
                  just a few clicks.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white features-landlord-btn-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="primary-bg-color-first features-landlord-btn-box">
            <div
              class="col-lg-6 col-md-10 col-sm-12 mb-md-0 mb-sm-5 mb-xs-5 pb-md-0 pb-sm-5 pb-xs-4"
            >
              <h2 class="font-weight-bold mb-4 text-white">
                Do you want our service?
              </h2>
              <div
                class="btn-group mb-md-0 mb-sm-5 mb-xs-5 mr-2"
                role="group"
                aria-label="Second group"
              >
                <a
                  href="auth/sign-up"
                  class="btn font-weight-bold pl-4 pr-4 secondary-bg-color-first site-btn"
                  >Sign Up</a
                >
              </div>
              <div
                class="btn-group mb-md-0 mb-sm-5 mb-xs-5"
                role="group"
                aria-label="Third group"
              >
                <a
                  href="frontend/pricing-renter"
                  class="bg-white btn font-weight-bold pl-4 pr-4 primary-color-first site-btn"
                >
                  View pricings
                  <img src="assets/img/icons/primary-arrow.png" class="ml-2" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Renting Section Code Start -->
  <section class="renting-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h2 class="font-30 font-weight-bold mb-4">Renting Made Easy</h2>
          <p class="mb-4 pr-4">
            Find rentals at fair prices, apply, sign leases and pay for your
            rent all with Hauskarma.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="renting-easy-video">
            <img
              class="video-corner-design-t"
              src="assets/img/video-corner-design.png"
            />
            <video id="video" preload="metadata" poster="assets/img/Frame3.png">
              <source src="assets/img/3mb.mp4" type="video/mp4" />
            </video>
            <img
              class="video-corner-design-b"
              src="assets/img/video-corner-design.png"
            />
            <div class="play-button-wrapper" id="name">
              <div id="circle-play-b">
                <img src="assets/img/video-play-button.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Renting Section Code End -->
</body>
