<div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 mb-2">
  <div class="card box p-3 mb-3">
    <div class="row">
      <div
        class="col-12 col-lg-5 col-md-12 col-sm-12 left-content order-md-first order-sm-first order-xs-first order-lg-0"
      >
        <a href="frontend/search-results-listing-details">
          <img
            class="img-fluid img-fluid rounded"
            src="assets/img/listing.png"
            width="100%"
            style="height: 100%"
          />
        </a>
      </div>
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-7 mt-xs-3 right-content pl-4 pr-4"
      >
        <div class="row bid-status-button">
          <div class="col-md-8 col-lg-12 col-xl-8">
            <div class="row mt-3">
              <div class="col-9 col-md-9">
                <p class="font-11 mb-0">
                  <span class="icon-span"
                    ><img
                      class="d-inline"
                      src="assets/img/icons/listing-clock.png"
                    />
                  </span>
                  <span class="font-12 ml-1 text-span"
                    ><strong>DOM:</strong> 2 Days 5 Hours</span
                  >
                </p>
              </div>
              <div class="col-3 col-md-3 text-right">
                <img src="assets/img/icons/wishlist-yellow-icon.png" />
              </div>
            </div>

            <div class="row mt-4 mb-4">
              <div class="col-md-12">
                <h5 class="card-title font-14 mb-0">
                  <a
                    href="frontend/search-results-listing-details"
                    class="dark-color-second font-weight-600"
                    >Private, emotional lodging cabin in Yeongwol</a
                  >
                </h5>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-12">
                <div class="media align-items-center">
                  <img
                    class="mr-1"
                    src="assets/img/icons/location-vector.png"
                  />
                  <div class="media-body">
                    <span
                      class="font-12 font-weight-600 ml-1 text-span dark-color-second"
                      >4140 Parker Rd. Allentown, New Mexico 31134</span
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-4 col-sm-4 col-md-4">
                <p class="font-9 text-dark mb-0">
                  <img width="15" class="mr-1" src="assets/img/icons/f1.png" />
                  2 Bed
                </p>
              </div>
              <div class="col-4 col-md-4 col-sm-4 p-sm-0 p-xs-0">
                <p class="font-9 text-dark mb-0">
                  <img width="15" class="mr-1" src="assets/img/icons/f2.png" />
                  2 Bathroom
                </p>
              </div>

              <div class="col-4 col-md-4 col-sm-4 p-xs-0 pl-sm-0">
                <p class="font-9 text-dark mb-0">
                  <img
                    width="15"
                    class="mr-1"
                    src="assets/img/icons/car-parking-icon.png"
                  />
                  2 Parking
                </p>
              </div>
            </div>

            <div class="row mt-3 align-items-center">
              <div class="col-4 col-sm-6 col-md-4">
                <a
                  href="#"
                  class="border-radius-6 btn btn-block font-13 font-weight-600 primary-bg-color-second primary-color-first"
                >
                  $3890
                </a>
              </div>

              <div class="col-4 col-md-4 col-sm-4 p-sm-0 p-xs-0">
                <a
                  href="#"
                  class="bborder-radius-6 btn btn-block font-13 font-weight-600 secondary-bg-color-second secondary-color-first"
                >
                  Accept
                </a>
              </div>

              <div class="col-4 col-sm-6 col-md-4 mt-sm-2 mt-md-0">
                <a
                  href="#"
                  class="bborder-radius-6 btn btn-block font-13 font-weight-600 status-bg-color-eight status-color-seven"
                >
                  Reject
                </a>
              </div>
            </div>

            <div class="row mt-3 align-items-center">
              <div class="col-12 col-md-7 col-lg-4 col-sm-6 mr-auto">
                <span class="mb-2 d-block font-12">Rent</span>
                <a
                  href="#"
                  class="bborder-radius-6 btn btn-block font-13 font-weight-600 primary-bg-color-first text-white"
                >
                  $2800
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-12 col-xl-4">
            <div class="row mt-3">
              <div class="col-md-12">
                <div
                  class="bid-status-button-left pb-3 pt-3 status-bg-color-four text-center rounded-top"
                >
                  <span class="mb-1 d-block font-13 dark-color-second"
                    >Highest bid</span
                  >
                  <span class="d-block font-weight-600 font-30 theme-color-one"
                    >$1,130</span
                  >
                </div>
                <div
                  class="bid-status-button-right status-bg-color-six pb-3 pt-3 text-center rounded-bottom"
                >
                  <span class="mb-1 d-block font-13 dark-color-second"
                    >Asking price</span
                  >
                  <span
                    class="d-block font-weight-600 font-30 status-color-five"
                    >$5,110</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
