<body>
  <!-- <div id="preloder">
    <div class="loader">
      <app-loader></app-loader>
    </div>
  </div> -->

  <!--============================================ 
    =======  Dashboard Content Section Start =======
    ===========================================  -->
  <div class="content-wrapper dashboard_content_bg">
    <div class="container-fluid">
      <div class="create-profile-section">
        <div class="row">
          <div class="col-md-12">
            <div
              class="card p-xs-2 pl-md-3 pr-md-3 pl-sm-1 pr-sm-1 pr-lg-3 pl-lg-3 pr-lg-5 pl-lg-5 border-radius-6 h-100vh"
            >
              <div class="row mt-4 mb-5 pt-3">
                <div class="col-md-12">
                  <h5 class="dark-color-first font-weight-600 font-20">
                    Bid/Offers
                  </h5>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-12">
                  <div class="d-flex justify-content-end">
                    <form class="form-inline">
                      <div
                        class="border dashboard-border-radius-second form-group has-search pb-2 pt-2"
                      >
                        <span class="form-control-feedback">
                          <img src="assets/img/icons/search-light.png" alt="" />
                        </span>
                        <input
                          type="text"
                          class="form-control pr-5 font-13 border-0"
                          placeholder="Local Shop within"
                        />
                      </div>
                    </form>
                    <a
                      href="landlord/create-listing"
                      class="d-xs-block border-primary-2 btn dashboard-border-radius-second font-13 font-weight-600 ml-md-3 ml-sm-3 pb-2 pb-3 pl-5 pr-5 primary-bg-color-first pt-2 pt-3 text-white"
                    >
                      <img src="assets/img/icons/add.png" class="m1-1" /> Add
                      Listing
                    </a>
                  </div>
                </div>
              </div>

              <div class="row">
                <app-bid-offer-card></app-bid-offer-card>
                <app-bid-offer-card></app-bid-offer-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--============================================ 
    =======  Dashboard Content Section End =========
    ===========================================  -->
</body>
