<body>
  <section class="pricing-banner">
    <div class="container pb-5 pt-5">
      <div class="align-items-center row">
        <div
          class="col-md-5 col-lg-5 col-xl-5 left-content order-md-0 order-sm-1 order-xs-1"
        >
          <h5 class="font-30 font-weight-bold">Pricing</h5>
          <p class="dark-color-second mt-xs-0 card-text mt-4">
            Created with renters in mind, we're here to help relieve the stress
            from renting. As a renter, you'll always enjoy these features for
            free.
          </p>
          <a
            class="btn dashboard-border-radius-second font-11 font-weight-600 pb-2 primary-bg-color-first pt-2 text-white"
          >
            View Pricing for landlord<img
              class="ml-2"
              src="assets/img/icons/white-arrow.png"
            />
          </a>
        </div>
        <div
          class="col-md-7 col-lg-7 col-xl-6 right-content text-center animate__animated animate__bounce ml-lg-auto"
        >
          <img src="assets/img/pricing-page-banner.png" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section class="mb-5 mt-5">
    <div class="container">
      <div class="mb-5 pt-4 row">
        <div class="col-md-12 text-center">
          <h5 class="font-30 font-weight-bold mb-3">
            Best Pricing that you are looking for
          </h5>
          <small class="font-18 dark-color-second"
            >Lorem Ipsum is simply dummy text of the printing and typesetting
            industry</small
          >
        </div>
      </div>

      <div class="pb-5 pricing-section pt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-10 m-auto">
              <div class="card mb-3">
                <div class="card-body p-0">
                  <div class="container">
                    <div class="align-items-center p-sm-2 p-xs-2 row">
                      <div class="col-12 col-sm-10 col-md-8">
                        <h5
                          class="align-items-center d-md-flex d-sm-flex d-xs-block dark-color-second font-16 font-weight-600 text-xs-center"
                        >
                          <div class="m-xs-auto mr-3 pricing-icon">
                            <img
                              src="assets/img/icons/pricing-search-white-icon.png"
                            />
                          </div>
                          Rental Listing Searches
                        </h5>
                      </div>
                      <div
                        class="col-12 col-md-4 col-sm-2 mt-sm-0 mt-xs-2 text-md-right text-sm-right text-xs-center"
                      >
                        <small class="font-16 font-weight-600">$0.00</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body p-0">
                  <div class="container">
                    <div class="align-items-center p-sm-2 p-xs-2 row">
                      <div class="col-12 col-sm-10 col-md-8">
                        <h5
                          class="align-items-center d-md-flex d-sm-flex d-xs-block dark-color-second font-16 font-weight-600 text-xs-center"
                        >
                          <div class="m-xs-auto mr-3 pricing-icon">
                            <img src="assets/img/icons/pricing_chat.png" />
                          </div>
                          Instant Landlord Chat
                        </h5>
                      </div>
                      <div
                        class="col-12 col-md-4 col-sm-2 mt-sm-0 mt-xs-2 text-md-right text-sm-right text-xs-center"
                      >
                        <small class="font-16 font-weight-600">$0.00</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body p-0">
                  <div class="container">
                    <div class="align-items-center p-sm-2 p-xs-2 row">
                      <div class="col-12 col-sm-10 col-md-8">
                        <h5
                          class="align-items-center d-md-flex d-sm-flex d-xs-block dark-color-second font-16 font-weight-600 text-xs-center"
                        >
                          <div class="m-xs-auto mr-3 pricing-icon">
                            <img
                              src="assets/img/icons/pricing-huskarma-score.png"
                            />
                          </div>
                          Hauskarma Score
                        </h5>
                      </div>
                      <div
                        class="col-12 col-md-4 col-sm-2 mt-sm-0 mt-xs-2 text-md-right text-sm-right text-xs-center"
                      >
                        <small class="font-16 font-weight-600">$0.00</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body p-0">
                  <div class="container">
                    <div class="align-items-center p-sm-2 p-xs-2 row">
                      <div class="col-12 col-sm-10 col-md-8">
                        <h5
                          class="align-items-center d-md-flex d-sm-flex d-xs-block dark-color-second font-16 font-weight-600 text-xs-center"
                        >
                          <div class="m-xs-auto mr-3 pricing-icon">
                            <img
                              src="assets/img/icons/pricing-carbon_document.png"
                            />
                          </div>
                          Digital Tenancy Application
                        </h5>
                      </div>
                      <div
                        class="col-12 col-md-4 col-sm-2 mt-sm-0 mt-xs-2 text-md-right text-sm-right text-xs-center"
                      >
                        <small class="font-16 font-weight-600">$0.00</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body p-0">
                  <div class="container">
                    <div class="align-items-center p-sm-2 p-xs-2 row">
                      <div class="col-12 col-sm-10 col-md-8">
                        <h5
                          class="align-items-center d-md-flex d-sm-flex d-xs-block dark-color-second font-16 font-weight-600 text-xs-center"
                        >
                          <div class="m-xs-auto mr-3 pricing-icon">
                            <img src="assets/img/icons/handshake-icon.png" />
                          </div>
                          Digital Tenancy Agreement
                        </h5>
                      </div>
                      <div
                        class="col-12 col-md-4 col-sm-2 mt-sm-0 mt-xs-2 text-md-right text-sm-right text-xs-center"
                      >
                        <small class="font-16 font-weight-600"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body p-0">
                  <div class="container">
                    <div class="align-items-center p-sm-2 p-xs-2 row">
                      <div class="col-12 col-sm-10 col-md-8">
                        <h5
                          class="align-items-center d-md-flex d-sm-flex d-xs-block dark-color-second font-16 font-weight-600 text-xs-center"
                        >
                          <div class="m-xs-auto mr-3 pricing-icon">
                            <img
                              src="assets/img/icons/pricing-credit-card.png"
                            />
                          </div>
                          Rent payment by Visa, Mastercard, Amex
                        </h5>
                      </div>
                      <div
                        class="col-12 col-md-4 col-sm-2 mt-sm-0 mt-xs-2 text-md-right text-sm-right text-xs-center"
                      >
                        <small class="font-16 font-weight-600">$0.00</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body p-0">
                  <div class="container">
                    <div class="align-items-center p-sm-2 p-xs-2 row">
                      <div class="col-12 col-sm-10 col-md-8">
                        <h5
                          class="align-items-center d-md-flex d-sm-flex d-xs-block dark-color-second font-16 font-weight-600 text-xs-center"
                        >
                          <div class="m-xs-auto mr-3 pricing-icon">
                            <img
                              src="assets/img/icons/pricing-credit-card-2.png"
                            />
                          </div>
                          Rent payment by UnionPay credit cards
                        </h5>
                      </div>
                      <div
                        class="col-12 col-md-4 col-sm-2 mt-sm-0 mt-xs-2 text-md-right text-sm-right text-xs-center"
                      >
                        <small class="font-16 font-weight-600">$0.00</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
