<body>
  <!--=========================================== 
    =======  Dashboard Content Section Start ======
    =========================================== -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card p-lg-3 p-md-3 p-sm-2 p-xl-4 p-xs-2 pb-4 h-100vh border-radius-6"
          >
            <h5 class="dark-color-first font-weight-600 font-20 mt-4 pt-3 mb-2">
              Invoice
            </h5>
            <div class="row mt-4 payment-invoice">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <div class="card dashboard-border-radius">
                  <div class="card-body p-md-3 p-sm-2 p-xs-3">
                    <div class="media align-items-center">
                      <div id="wrapper" class="mr-lg-2 w-50">
                        <svg
                          class="progress blue noselect bg-transparent m-auto"
                          data-progress="85"
                          x="0px"
                          y="0px"
                          viewBox="0 0 80 80"
                        >
                          <path
                            class="track"
                            d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"
                            fill="#fff"
                          />
                          <path
                            class="fill fillstroke1"
                            d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"
                          />
                          <text
                            class="font-16 font-weight-600 value"
                            x="50%"
                            y="57%"
                          >
                            0%
                          </text>
                        </svg>
                      </div>
                      <div class="media-body w-50">
                        <h5
                          class="mt-0 dark-color-first font-weight-600 font-24"
                        >
                          $12,560
                        </h5>
                        <p
                          class="dark-color-three font-13 font-weight-600 mb-0 mt-2"
                        >
                          Total Invoice
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <div class="card dashboard-border-radius">
                  <div class="card-body p-md-3 p-sm-2 p-xs-3">
                    <div class="media align-items-center">
                      <div id="wrapper" class="mr-lg-2 w-50">
                        <svg
                          class="progress blue noselect bg-transparent m-auto"
                          data-progress="68"
                          x="0px"
                          y="0px"
                          viewBox="0 0 80 80"
                        >
                          <path
                            class="track"
                            d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"
                            fill="#fff"
                          />
                          <path
                            class="fill fillstroke2"
                            d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"
                          />
                          <text
                            class="font-16 font-weight-600 value"
                            x="50%"
                            y="57%"
                          >
                            0%
                          </text>
                        </svg>
                      </div>
                      <div class="media-body w-50">
                        <h5
                          class="mt-0 dark-color-first font-weight-600 font-24"
                        >
                          $8,560
                        </h5>
                        <p
                          class="dark-color-three font-13 font-weight-600 mb-0 mt-2"
                        >
                          Total Received
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <div class="card dashboard-border-radius">
                  <div class="card-body p-md-3 p-sm-2 p-xs-3">
                    <div class="media align-items-center">
                      <div id="wrapper" class="mr-lg-2 w-50">
                        <svg
                          class="progress blue noselect bg-transparent m-auto"
                          data-progress="35"
                          x="0px"
                          y="0px"
                          viewBox="0 0 80 80"
                        >
                          <path
                            class="track"
                            d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"
                            fill="#fff"
                          />
                          <path
                            class="fill fillstroke3"
                            d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"
                          />
                          <text
                            class="font-16 font-weight-600 value"
                            x="50%"
                            y="57%"
                          >
                            0%
                          </text>
                        </svg>
                      </div>
                      <div class="media-body w-50">
                        <h5
                          class="mt-0 dark-color-first font-weight-600 font-24"
                        >
                          $3,560
                        </h5>
                        <p
                          class="dark-color-three font-13 font-weight-600 mb-0 mt-2"
                        >
                          Total Due
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4 payment-invoice-table">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th
                          scope="col"
                          class="vertical-align-middle border-0 dark-color-second font-12 font-weight-600 pb-3 pt-3"
                        >
                          Invoice Id
                        </th>
                        <th
                          scope="col"
                          class="vertical-align-middle border-0 dark-color-second font-12 font-weight-600 pb-3 pt-3"
                        >
                          Date
                        </th>
                        <th
                          scope="col"
                          class="vertical-align-middle border-0 dark-color-second font-12 font-weight-600 pb-3 pt-3"
                        >
                          Description
                        </th>
                        <th
                          scope="col"
                          class="vertical-align-middle border-0 dark-color-second font-12 font-weight-600 pb-3 pt-3"
                        >
                          Amount
                        </th>
                        <th
                          scope="col"
                          class="vertical-align-middle border-0 dark-color-second font-12 font-weight-600 pb-3 pt-3"
                        >
                          Status
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          #461614
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          04-08-2021
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Rent for June
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          $3000
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          <a
                            href="#"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 primary-bg-color-first text-white"
                            >Pay Now</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          #461614
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          04-08-2021
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Rent for June
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          $3000
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          <a
                            href="#"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >Pay Now</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          #461614
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          04-08-2021
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Rent for June
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          $3000
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          <a
                            href="#"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >Pay Now</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          #461614
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          04-08-2021
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Rent for June
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          $3000
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          <a
                            href="#"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >Pay Now</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          #461614
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          04-08-2021
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Rent for June
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          $3000
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          <a
                            href="#"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >Pay Now</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          #461614
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          04-08-2021
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Rent for June
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          $3000
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          <a
                            href="#"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >Pay Now</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          #461614
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          04-08-2021
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Rent for June
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          $3000
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          <a
                            href="#"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >Pay Now</a
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          #461614
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          04-08-2021
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          Rent for June
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          $3000
                        </td>
                        <td
                          class="dark-color-three font-12 font-weight-600 pb-2 pt-2 vertical-align-middle"
                        >
                          <a
                            href="#"
                            class="btn dashboard-border-radius-second font-12 font-weight-600 pl-3 pr-3 secondary-bg-color-first text-white"
                            >Pay Now</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=============================
    =====  Dashboard Content Section End =========
    ===========================================  -->
</body>
