<body>
  <section class="contact-us-banner position-relative">
    <div class="border-0 card rounded-0">
      <img class="card-img" src="assets/img/contact-us-banner.png" />
      <div class="align-items-center card-img-overlay d-flex">
        <div class="container">
          <div class="align-items-center row position-relative z-homepage-2">
            <div
              class="col-md-6 mt-md-0 mt-sm-5 mt-xs-5 order-md-0 order-sm-1 order-xs-1 text-md-left text-sm-center text-xs-center"
            >
              <h5 class="card-title font-35 font-weight-600">Contact Us</h5>
              <p class="card-text dark-color-second mt-3 pr-lg-5">
                Created with renters in mind, we're here to help relieve the
                stress from renting. As a renter, you'll always enjoy these
                features for free.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us-form-section mb-5">
    <div class="container">
      <div class="ContactDetails mb-5 mt-5 pb-4 pt-4 row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="align-items-center row">
                <div class="col-3 col-md-3">
                  <img src="assets/img/icons/contact-us-email-icon-2.png" />
                </div>
                <div class="pl-0 col-9 col-md-9">
                  <span class="d-block font-16 font-weight-600">Email Us</span>
                  <span class="d-block dark-color-second font-15 mt-1"
                    >support@hauskarma.com</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="align-items-center row">
                <div class="col-3 col-md-3">
                  <img src="assets/img/icons/contact-us-phone.png" />
                </div>
                <div class="pl-0 col-9 col-md-9">
                  <span class="d-block font-16 font-weight-600">Call Us</span>
                  <span class="d-block dark-color-second font-15 mt-1"
                    >+1 (213) 450-987</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="align-items-center row">
                <div class="col-3 col-md-3">
                  <img src="assets/img/icons/contact-us-location.png" />
                </div>
                <div class="pl-0 col-9 col-md-9">
                  <span class="d-block font-16 font-weight-600">Address</span>
                  <span class="d-block dark-color-second font-15 mt-1"
                    >Toronto, Canada</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 text-center">
            <h5 class="font-30 font-weight-bold mb-2">Get in touch</h5>
            <small class="font-18 dark-color-second"
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-11 col-lg-10 m-auto">
          <form method="" action="" class="mt-5">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="dark-color-second font-14">First Name*</label>
                  <input
                    type="text"
                    class="contact-us-input form-control pl-4 bg-transparent"
                    placeholder="Robert M"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="dark-color-second font-14">Last Name*</label>
                  <input
                    type="text"
                    class="contact-us-input form-control pl-4 bg-transparent"
                    placeholder="Smith"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="dark-color-second font-14">Email*</label>
                  <input
                    type="email"
                    class="contact-us-input form-control pl-4 bg-transparent"
                    placeholder="youremail@gmail.com"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="dark-color-second font-14">Phone Number*</label>
                  <input
                    type="email"
                    class="contact-us-input form-control pl-4 bg-transparent"
                    placeholder="(000) 4567-5689"
                  />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="dark-color-second font-14">Your Message*</label>
                  <textarea
                    class="border contact-us-textarea form-control pl-4 pt-4"
                    cols="30"
                    rows="6"
                    placeholder="Question"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 m-auto">
                <div class="form-group">
                  <button
                    class="btn btn-block font-weight-bold mt-4 pb-3 primary-bg-color-first pt-3 text-uppercase text-white font-13"
                  >
                    Send Message
                    <img src="assets/img/icons/white-arrow.png" class="ml-2" />
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30703867.071679905!2d64.40183608457193!3d20.04915895569306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1622869495775!5m2!1sen!2sin"
      width="100%"
      height="390"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </section>
</body>
