<!-- Footer section Start -->
<footer
  class="pb-5 pt-5 footer-section primary-bg-color-first"
  style="
    background-image: url('assets/img/footer-bg-desktop.png');
    background-repeat: no-repeat, repeat;
    background-position: bottom;
  "
>
  <!-- <div class="footer-bg"></div> -->
  <div class="container">
    <div class="pb-5 pt-5 row">
      <div
        class="col-lg-5 col-md-5 col-sm-12 footer-widget mt-md-0 mt-sm-5 mt-xs-5"
      >
        <img
          class="mb-4"
          src="assets/img/logos/Hauskarma-footer-logo.png"
          alt=""
        />
        <p>
          Never over pay for rent! We are the premium location for rentals.
          Using our patented Hauskarma rating system we connect landlords and
          tenants. We ensure tenants never over pay for rent while making sure
          the landlords properties are taken care of and that rent is always
          paid on time.
        </p>
        <div class="footer-social">
          <a href="#"
            ><i class="fa fa-instagram mt-2" aria-hidden="true"></i
          ></a>
          <a href=""><i class="fa fa-dribbble mt-2" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-twitter mt-2" aria-hidden="true"></i></a>
          <a href=""
            ><i class="fa fa-youtube-play mt-2" aria-hidden="true"></i
          ></a>
        </div>
      </div>

      <div
        class="col-md-3 col-sm-12 colo-lg-3 footer-widget mt-md-0 mt-sm-5 mt-xs-5"
      >
        <h5
          class="widget-title ml-lg-5 ml-xl-5 pl-lg-5 pl-xl-5 font-21 font-menu font-weight-bold"
        >
          Quick Links
        </h5>
        <ul class="ml-lg-5 ml-xl-5 pl-lg-5 pl-xl-5">
          <li><a href="/frontend/about-us">About</a></li>
          <li><a href="/frontend/blog">Blog</a></li>
          <li><a href="/frontend/faqs">FAQ</a></li>
          <li><a href="/frontend/terms">Terms</a></li>
          <li><a href="/frontend/policy">Privacy</a></li>
          <li><a href="/frontend/contact-us">Contact us</a></li>
        </ul>
      </div>
      <div
        class="col-sm-12 col-md-4 col-lg-4 footer-widget pl-lg-5 pl-3 mt-sm-5 mt-xs-5 mt-md-0"
      >
        <h5 class="font-21 font-menu font-weight-bold widget-title">
          Get in Touch
        </h5>
        <ul class="mb-3">
          <li class="mb-3">
            <img src="assets/img/footer-sms-icon.png" alt="" />
            <a class="d-inline-block ml-2" href="#">info@hauskarma.com</a>
          </li>
          <li class="mb-3">
            <img src="assets/img/footer-location-icon.png" alt="" />
            <a class="d-inline-block ml-2" href="#">Toronto, Canada</a>
          </li>
          <li class="d-flex">
            <a href="#" class="appicon mr-4"
              ><img src="assets/img/icons/appstore.png" alt=""
            /></a>
            <a href="#" class="appicon"
              ><img src="assets/img/icons/playstore.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="footer-nav">
          <span class="font-15 font-weight-normal">
            Copyright 2023 - All Rights Reserved
            <a href="#" target="_blank">Hauskarma.</a>
          </span>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Footer Section End -->
