<body>
  <!--=========================================== 
    =======  Dashboard Content Section Start ======
    =========================================== -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="create-profile-section">
        <div class="row">
          <div class="col-md-12">
            <div
              class="card p-xs-2 pl-md-5 pl-sm-5 pr-md-5 pr-sm-5 pb-5 border-radius-6 h-100vh"
            >
              <h5
                class="dark-color-first font-weight-600 font-20 mt-4 mb-5 pt-3"
              >
                Support
              </h5>
              <div class="row">
                <div class="col-md-6 mr-auto">
                  <div class="media align-items-center">
                    <img
                      class="mr-2"
                      src="assets/img/icons/support-man.png"
                      alt="Generic placeholder image"
                    />
                    <div class="media-body">
                      <h5
                        class="mt-0 dark-color-second font-weight-600 font-19"
                      >
                        Support
                      </h5>
                    </div>
                  </div>
                  <p class="dark-color-three font-13 mt-3 mb-0">
                    Have a problem? Have some suggestions to make your
                    experience even better? We'd love to hear from you.
                  </p>
                </div>

                <div class="col-md-12 mt-5">
                  <div class="media align-items-center">
                    <img
                      class="mr-2"
                      src="assets/img/icons/sms-tracking.png"
                      alt="Generic placeholder image"
                    />
                    <div class="media-body">
                      <h5
                        class="mt-0 dark-color-second font-weight-600 font-19"
                      >
                        Email us
                      </h5>
                    </div>
                  </div>
                  <h5 class="mb-2 mt-2">
                    <a href="#" class="secondary-color-first">
                      <small class="font-13">support@huskarma.com</small>
                    </a>
                  </h5>
                  <div class="row">
                    <div class="col-6 col-sm-3 col-md-2 col-lg-3 col-xl-2">
                      <b class="font-12 dark-color-three"> Monday - Friday </b>
                    </div>

                    <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                      <b class="font-12 dark-color-three">10am - 6pm PST</b>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6 col-sm-3 col-md-2 col-lg-3 col-xl-2">
                      <b class="font-12 dark-color-three"> Saturday </b>
                    </div>

                    <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                      <b class="font-12 dark-color-three">11am - 4pm PST</b>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mt-5">
                  <div class="media align-items-center mb-3">
                    <img
                      class="mr-2"
                      src="assets/img/icons/notes.png"
                      alt="Generic placeholder image"
                    />
                    <div class="media-body">
                      <h5
                        class="mt-0 dark-color-second font-weight-600 font-19"
                      >
                        Write Us
                      </h5>
                    </div>
                  </div>
                  <p class="font-13 dark-color-three mb-2">
                    Hauskarma Inc. © 2023
                  </p>
                  <p class="font-13 dark-color-three mb-2">
                    1A - 1601 Bayshore Dr
                  </p>
                  <p class="font-13 dark-color-three mb-2">Vancouver, BC</p>
                  <p class="font-13 dark-color-three mb-2">V6G 2V4</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--============================================
    =======  Dashboard Content Section End =========
    ===========================================  -->
</body>
