<body>
  <!-- ==============================================================
    ================= Password Reset successfully Modal Start ======-->
  <div
    class="modal fade"
    id="createprofileModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createprofileModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="border-0 modal-header">
          <button
            type="button"
            class="close mr-2 opacity-1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <img
              src="assets/img/icons/modal-close-icon.png"
              width="20"
              alt=""
            />
          </button>
        </div>

        <div class="modal-body text-center">
          <img src="assets/img/icons/success-modal-icon.png" alt="" />
          <h5 class="font-28 font-weight-600 mt-3 primary-color-first">
            Profile Updated
          </h5>
          <h5 class="dark-color-three font-16 mt-3">
            Your profile update successfully.
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!--  ==============================================================
  ================= Password Reset successfully Modal End ========-->
  <!--=========================================== 
  =======  Dashboard Content Section Start ======
  =========================================== -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card p-xs-2 pl-md-4 pr-md-4 pl-sm-5 pr-sm-5 pl-sm-3 pr-sm-3 pb-4 border-radius-6 h-100vh"
          >
            <h5 class="dark-color-first font-weight-600 font-20 mt-4 pt-3 mb-2">
              Update Profile
            </h5>
            <div class="row mt-4">
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                  class="w-100 border-0 card float-lg-left float-md-none float-sm-none float-xl-left profile-left-sidebar rounded-0"
                >
                  <ul
                    class="border-top-0 navbar-nav navbar-sidenav profile-sidebar pb-5"
                    id="exampleAccordion"
                  >
                    <li class="nav-item pr-2 mb-3">
                      <a class="nav-link pl-3" href="landlord/update-profile">
                        <img
                          class="active mr-2"
                          src="assets/img/icons/profile-sidebar-icons/verify-id-active.png"
                          alt=""
                        />
                        <img
                          class="inactive mr-2"
                          src="assets/img/icons/profile-sidebar-icons/verify-id-inactive.png"
                          alt=""
                        />
                        <span class="nav-link-text">Verify ID </span>
                      </a>
                    </li>

                    <li class="nav-item pr-2 mb-3 active">
                      <a class="nav-link pl-3" href="landlord/basic-details">
                        <img
                          class="active mr-2"
                          src="assets/img/icons/profile-sidebar-icons/basic-details-active.png"
                          alt=""
                        />
                        <img
                          class="inactive mr-2"
                          src="assets/img/icons/profile-sidebar-icons/basic-details-inactive.png"
                          alt=""
                        />
                        <span class="nav-link-text">Basic Details </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-md-6 col-lg-8 col-xl-9">
                <h5 class="dark-color-first font-weight-600 font-16">
                  Personal Information
                </h5>
                <hr />
                <form action="#">
                  <div class="row add-payment-method">
                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block">First Name</label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="pl-3 w-100"
                          placeholder="Amit"
                        />
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block">Last Name</label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="pl-3 w-100"
                          placeholder="Kumar"
                        />
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block">Phone Number</label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="pl-3 w-100"
                          placeholder="Write Phome Number"
                        />
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block">Date of birth</label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="pl-3 w-100"
                          placeholder="Write Date of birth"
                        />
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block"> Email</label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="pl-3 w-100"
                          placeholder="amitkumar@gmail.com"
                        />
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div
                        class="align-items-center d-flex form-group h-100 mb-0"
                      >
                        <label class="mb-0">
                          <span class="CheckBoxComponent mr-2">
                            <label class="mb-0 switch">
                              <input type="checkbox" checked="" />
                              <span class="notification-slider round"></span>
                            </label> </span
                          ><span>Hide My Number From Public</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <h5 class="dark-color-first font-weight-600 font-16">
                        Permanent Address
                      </h5>
                      <hr />
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block"> Country</label>
                        <select name="" id="" class="form-control">
                          <option value="USA">USA</option>
                          <option value="USA">USA</option>
                          <option value="USA">USA</option>
                          <option value="USA">USA</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block"> Street Address</label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="pl-3 w-100"
                          placeholder="Write Street Address"
                        />
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block"> City </label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="pl-3 w-100"
                          placeholder="California"
                        />
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block"> State/Province </label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="pl-3 w-100"
                          placeholder="Write State/Province"
                        />
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block"> Postal Code </label>
                        <input
                          type="text"
                          name=""
                          id=""
                          class="pl-3 w-100"
                          placeholder="Write Postal Code"
                        />
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="d-block"> Select Languages</label>
                        <select name="" id="" class="form-control">
                          <option value="USA">English</option>
                          <option value="USA">USA</option>
                          <option value="USA">USA</option>
                          <option value="USA">USA</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3 col-sm-4 mb-xs-3">
                      <a
                        href="#"
                        class="d-xs-block border-primary-2 btn dashboard-border-radius-second font-13 font-weight-600 pb-2 pb-3 pl-5 pr-5 primary-color-first pt-2 pt-3"
                      >
                        <img
                          src="assets/img/icons/add-primary.png"
                          class="mr-2"
                          height="15"
                        />
                        Add</a
                      >
                    </div>

                    <div class="col-md-9 col-sm-8 text-right">
                      <a
                        href="#"
                        class="d-xs-block mb-xs-3 btn dashboard-border-radius-second font-13 font-weight-600 pb-2 pb-3 pl-5 pr-5 primary-bg-color-second primary-color-first pt-2 pt-3"
                        >Cancel</a
                      >

                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#createprofileModalCenter"
                        class="d-xs-block border-primary-2 btn dashboard-border-radius-second font-13 font-weight-600 ml-md-3 ml-sm-3 pb-2 pb-3 pl-5 pr-5 primary-bg-color-first pt-2 pt-3 text-white"
                      >
                        Save
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--============================================
  =======  Dashboard Content Section End =========
  ===========================================  -->
</body>
